---
layout: default
title: Pinnwand für Browser-Bugs
slug: browser-bugs
lead: "Eine Liste der Browser-Bugs, mit denen Bootstrap zurzeit zu kämpfen hat."
fullwidth: true
---


<div class="bs-docs-section">
  <h1 id="browser-bugs" class="page-header">Browser-Bugs</h1>

  <p class="lead">Bootstrap muss zurzeit um einige noch nicht behobene Bugs in größeren Browsern herumarbeiten, um das beste Erlebnis in allen Browsern zu liefern. Einige Bugs, wie die unten aufgeführten, können von uns nicht gelöst werden.</p>
  <p>Wir veröffentlichen hier eine Liste von Browser-Bugs, die uns beeinträchtigen, in der Hoffnung deren Behebung zu beschleunigen. Sieh dir für Informationen zu Bootstraps Browser-Kompatiblität <a href="{{ site.baseurl }}/los-gehts/#support">unsere Browser-Kompatibilität-Dokumentation</a> an.</p>
  <p>Siehe auch:</p>
  <ul>
    <li><a href="https://bugs.chromium.org/p/chromium/issues/detail?id=536263">Chromium issue 536263: [meta] Issues affecting Bootstrap</a></li>
    <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1230801">Mozilla bug 1230801: Fix the issues that affect Bootstrap</a></li>
    <li><a href="https://bugs.webkit.org/show_bug.cgi?id=159753">WebKit bug 159753: [meta] Issues affecting Bootstrap</a></li>
    <li><a href="https://docs.google.com/document/d/1LPaPA30bLUB_publLIMF0RlhdnPx_ePXm7oW02iiT6o">jQuery's browser bug workarounds</a></li>
  </ul>

  <div class="table-responsive">
    <table class="bs-docs-browser-bugs table table-bordered table-hover">
      <thead>
        <tr>
          <th>Browser</th>
          <th>Bug-Zusammenfassung</th>
          <th>Upstream-Berichte</th>
          <th>Bootstrap-Berichte</th>
        </tr>
      </thead>
      <tbody>
        {% for bug in site.data.browser-bugs %}
        <tr>
          <td>{{ bug.browser }}</td>
          <td>{{ bug.summary | markdownify | bugify }}</td>
          <td>{{ bug.upstream_bug | bugify }}</td>
          <td>{{ bug.origin | bugify }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="bs-docs-section">
  <h1 id="wunschliste-von-funktionen" class="page-header">Wunschliste von Funktionen</h1>

  <p class="lead">Es gibt einige Funktionen, die in Web-Standards definiert sind und uns erlauben würden, Bootstrap robuster, eleganter oder leistungsstärker zu machen, aber in bestimmten Browsern noch nicht implementiert sind. Deshalb können wir von diesen noch nicht profitieren.</p>
  <p>Wir listen diese Funktionswünsche hier öffentlich auf, damit sie hoffentlich schnell implementiert werden.</p>

   <div class="table-responsive">
     <table class="bs-docs-browser-bugs table table-bordered table-hover">
       <thead>
         <tr>
           <th>Browser</th>
           <th>Funktionsbeschreibung</th>
           <th>Issue(s) beim Browser</th>
           <th>Issue(s) bei Bootstrap</th>
         </tr>
       </thead>
       <tbody>
         {% for feat in site.data.browser-features %}
         <tr>
           <td>{{ feat.browser }}</td>
           <td>{{ feat.summary | markdownify | bugify }}</td>
           <td>{{ feat.upstream_bug | bugify }}</td>
           <td>{{ feat.origin | bugify }}</td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
</div>
