---
layout: default
title: Los geht's!
slug: getting-started
lead: "Ein Überblick über Bootstrap, wie du es herunterlädst und verwendest, einfache Vorlagen und Beispiele und mehr."
---


{% include getting-started/download.html %}
{% include getting-started/whats-included.html %}
{% include getting-started/grunt.html %}
{% include getting-started/template.html %}
{% include getting-started/examples.html %}
{% include getting-started/tools.html %}
{% include getting-started/community.html %}
{% include getting-started/disabling-responsiveness.html %}

<!-- Cross link to new migration page -->
<div class="bs-callout bs-callout-info" id="migration">
  <h4>Von v2.x nach v3.x wechseln</h4>
  <p>Du möchtest von einer älteren Version von Bootstrap zu v3.x wechseln? Wir empfehlen <a href="../migration">unseren Ratgeber zur Migrierung</a>.</p>
</div>

{% include getting-started/browser-device-support.html %}
{% include getting-started/third-party-support.html %}
{% include getting-started/accessibility.html %}
{% include getting-started/license.html %}
{% include getting-started/translations.html %}
