<div class="bs-docs-section">
  <h1 id="affix" class="page-header">Affix <small>affix.js</small></h1>

  <h2 id="affix-examples">Beispiel</h2>
  <p>Die Unternavigation rechts auf dieser Seite ist eine Live-Ansicht des Affix-Plugins.</p>

  <hr class="bs-docs-separator">

  <h2 id="affix-usage">Verwendung</h2>
  <p>Verwende das Affix-Plugin über Data-Attribute oder manuell mit deinem eigenen JavaScript. <strong class="text-danger">In beiden Fällen musst du CSS für die Positionierung deines fixierten Inhalts angeben.</strong></p>

  <h3>Positionierung über CSS</h3>
  <p>Das Affix-Plugin wechselt bei einem Element zwischen drei Klassen, die jeweils einen bestimmten Status repräsentieren: <code>.affix</code>, <code>.affix-top</code> und <code>.affix-bottom</code>. Du musst für diese Klassen selbst (unabhängig von diesem Plugin) Stile hinzufügen, um die tatsächlichen Positionen zu regeln.</p>
  <p>So funktioniert das Affix-Plugin:</p>
  <ol>
    <li>Am Anfang fügt das Plugin die Klasse <code>.affix-top</code> hinzu, um anzuzeigen, dass das Element ganz oben ist. Hier brauchst du noch kein CSS zur Positionierung.</li>
    <li>Wenn du an dem Element vorbeiscrollst, sollte das eigentliche Affix-Verhalten ausgelöst werden. Jetzt wird <code>.affix-top</code> durch <code>.affix</code> ersetzt und die Position wird von Bootstrap selbst auf <code>position: fixed;</code> festgelegt.</li>
    <li>Falls ein Versatz am unteren Ende angegeben wurde, wird <code>.affix</code> oder <code>.affix-top</code> durch <code>.affix-bottom</code> ersetzt, wenn daran vorbeigescrollt wird. Da so ein Versatz optional ist, ist gegebenenfalls angemessenes CSS erforderlich. In diesem Fall solltest du, falls notwendig, <code>position: absolute;</code> hinzufügen. das Plugin verwendet die Option vom Data-Attribut oder JavaScript, um herauszufinden, wo das Element dann genau positioniert werden soll.</li>
  </ol>
  <p>Folge den obigen Schritten, um dein CSS für jede der unten angebeben Verwendungsmöglichkeiten zu schreiben.</p>

  <h3>Über Data-Attribute</h3>
  <p>Um ganz einfach Affix-Verhalten zu einem Element hinzuzufügen, ergänze einfach <code>data-spy="affix"</code> bei dem Element, das du im Visier haben willst. Verwende Versatz (Offsets), um zu definieren, wann ein Element fixiert werden soll.</p>

{% highlight html %}
<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
  ...
</div>
{% endhighlight %}

  <h3>Über JavaScript</h3>
  <p>Ruf das Affix-Plugin über JavaScript auf:</p>
{% highlight js %}
$('#mein-affix').affix({
  offset: {
    top: 100,
    bottom: function () {
      return (this.bottom = $('.footer').outerHeight(true))
    }
  }
})
{% endhighlight %}


  <h3 id="affix-options">Optionen</h3>
  <p>Optionen können über Data-Attribute oder JavaScript angegeben werden. Für Data-Attribute hängst du den Namen der Option einfach an <code>data-</code>, z.B. <code>data-offset-top="200"</code>.</p>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 100px;">Name</th>
          <th style="width: 100px;">Typ</th>
          <th style="width: 50px;">Standard</th>
          <th>Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>offset</td>
          <td>Nummer | Funktion | Objekt</td>
          <td>10</td>
          <td>Anzahl der Pixel für einen Versatz vom Bildschirm, wenn die Scroll-Position kalkuliert wird. Falls eine einzelne Nummer angegeben wird, wird der Versatz oben und unten angewendet. Um separate Werte für den Versatz oben und unten anzugeben, definiere ein Objekt: <code>offset: { top: 10 }</code> oder <code>offset: { top: 10, bottom: 5 }</code>. Verwende eine Funktion, wenn du den Versatz dynamisch berechnen musst.</td>
        </tr>
        <tr>
          <td>target</td>
          <td>Selektor | Knotenpunkt | jQuery-Element</td>
          <td>das Objekt <code>window</code></td>
          <td>Legt das Zielelement des Affix fest.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->


  <h3 id="affix-events">Ereignisse</h3>
  <p>Bootstraps Affix-Plugin legt einige Ereignisse offen, über die du dich in Affix-Funktionen einklinken kannst.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped bs-events-table">
      <thead>
        <tr>
          <th style="width: 150px;">Ereignistyp</th>
          <th>Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>affix.bs.affix</td>
          <td>Dieses Ereignis wird unmittelbar ausgelöst, bevor das Element mit der Klasse affix versehen wird.</td>
        </tr>
        <tr>
          <td>affixed.bs.affix</td>
          <td>Dieses Ereignis wird ausgelöst, wenn das Element mit der Klasse affix versehen wurde.</td>
        </tr>
        <tr>
          <td>affix-top.bs.affix</td>
          <td>Dieses Ereignis wird unmittelbar ausgelöst, bevor das Element mit der Klasse affix-top versehen wird.</td>
        </tr>
        <tr>
          <td>affixed-top.bs.affix</td>
          <td>Dieses Ereignis wird ausgelöst, wenn das Element mit der Klasse affix-top versehen wurde.</td>
        </tr>
       <tr>
        <td>affix-bottom.bs.affix</td>
          <td>Dieses Ereignis wird unmittelbar ausgelöst, bevor das Element mit der Klasse affix-bottom versehen wird.</td>
        </tr>
        <tr>
          <td>affixed-bottom.bs.affix</td>
          <td>Dieses Ereignis wird ausgelöst, wenn das Element mit der Klasse affix-bottom versehen wurde.</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->

</div>
