<div class="bs-docs-section">
  <h1 id="alerts" class="page-header">Warnhinweise <small>alert.js</small></h1>

  <h2 id="alerts-examples">Beispiel-Warnungen</h2>
  <p>Ermögliche mit diesem Plugin das Schließen von allen Warnhinweisen.</p>
  <div class="bs-example bs-example-standalone">
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
      <strong>Du siehst ein bisschen blass aus!</strong> Ist alles in Ordnung?
    </div>

    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
      <h4>Oh nein! Es ist ein Fehler aufgetreten!</h4>
      <p>Verändere dies und das und versuche es dann erneut. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
      <p>
        <button type="button" class="btn btn-danger">Diese Aktion durchführen</button>
        <button type="button" class="btn btn-default">Oder das hier tun</button>
      </p>
    </div>
  </div><!-- /example -->


  <h2 id="alerts-usage">Verwendung</h2>
  <p>Füge einfach <code>data-dismiss="alert"</code> zu deinem Schließen-Button hinzu, um einem Warnhinweis Schließen-Funktionalität hinzuzufügen.</p>

{% highlight html %}
<button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
  <span class="sr-only">Schließen</span>
</button>
{% endhighlight %}
  
  <p>Damit deine Warnhinweise beim Schließen animiert werden, achte darauf, dass sie schon die Klassen <code>.fade</code> und <code>.in</code> besitzen.</p>

  <h3>Methoden</h3>

  <h4>$().alert()</h4>
  <p>Sorgt dafür, dass ein Warnhinweis nach Klick-Ereignissen horcht, die bei untergeordneten Elementen mit dem Attribut <code>data-dismiss="alert"</code> ausgelöst werden. (Nicht notwendig, wenn die automatische Initialisierung über die Data-API verwendet wird.)</p>

  <h4>$().alert('close')</h4>
  <p>Schließt einen Warnhinweis.</p>


  <h3>Ereignisse</h3>
  <p>Bootstraps Warnhinweis-Klassen legen einige Ereignisse offen, mit denen du dich in die Warnhinweise-Funktionen einklinken kannst.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Ereignistyp</th>
          <th>Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>close.bs.alert</td>
          <td>Dieses Ereignis wird sofort ausgelöst, wenn die Methode <code>close</code> aufgerufen wird.</td>
        </tr>
        <tr>
          <td>closed.bs.alert</td>
          <td>Dieses Element wird ausgelöst, wenn der Warnhinweis vollständig geschlossen wurde (wartet auf CSS-Übergänge).</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
{% highlight js %}
$('#meinWarnhinweis').on('closed.bs.alert', function () {
  // etwas ausführen...
})
{% endhighlight %}
</div>
