<div class="bs-docs-section">
  <h1 id="collapse" class="page-header">Collapse <small>collapse.js</small></h1>

  <p class="lead">Flexibles Plugin, das mit Hilfe von einigen Klassen ein einfaches Ein- und Ausklappen von Komponenten ermöglicht.</p>

  <div class="bs-callout bs-callout-danger" id="callout-collapse-dependency">
    <h4>Plugin-Abhängigkeit</h4>
    <p>Collapse benötigt das <a href="#transitions">Übergänge-Plugin</a> in deiner Version von Bootstrap.</p>
  </div>

  <h2 id="collapse-example">Beispiel</h2>
  <p>Klick auf die buttons unten, um ein anderes Element über veränderte Klassen ein-/auszublenden:</p>
  <ul>
    <li><code>.collapse</code> verbirgt Inhalt</li>
    <li><code>.collapsing</code> wird während des Übergangs angewendet</li>
    <li><code>.collapse.in</code> zeigt Inhalt an</li>
  </ul>
  <p>Du kannst einen link mit dem Attribut <code>href</code> oder einen Button mit dem Attribut <code>data-target</code> verwenden. In beiden Fällen ist <code>data-toggle="collapse"</code> unbedingt erforderlich.</p>

   <div class="bs-example">
    <p>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseBeispiel" aria-expanded="false" aria-controls="collapseBeispiel">
        Link mit href
      </a>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseBeispiel" aria-expanded="false" aria-controls="collapseBeispiel">
        Button mit data-target
      </button>
    </p>
    <div class="collapse" id="collapseBeispiel">
      <div class="well">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
{% highlight html %}
<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseBeispiel" aria-expanded="false" aria-controls="collapseBeispiel">
  Link mit href
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseBeispiel" aria-expanded="false" aria-controls="collapseBeispiel">
  Button mit data-target
</button>
<div class="collapse" id="collapseBeispiel">
  <div class="well">
    ...
  </div>
</div>
{% endhighlight %}

  <h2 id="collapse-example-accordion">Beispiel-Accordion</h2>
  <p>Erweitere den Collapse-Standard, um ein Accordion mit der Panel-Komponente zu erstellen.</p>

  <div class="bs-example" data-example-id="collapse-accordion">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="überschriftEins">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEins" aria-expanded="true" aria-controls"collapseEins">
              Klappbarer Eintrag #1
            </a>
          </h4>
        </div>
        <div id="collapseEins" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="überschriftZwei">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZwei" aria-expanded="false" aria-controls"collapseZwei">
              Klappbarer Eintrag #2
            </a>
          </h4>
        </div>
        <div id="collapseZwei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftZwei">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="überschriftDrei">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDrei" aria-expanded="false" aria-controls"collapseDrei">
              Klappbarer Eintrag #3
            </a>
          </h4>
        </div>
        <div id="collapseDrei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftDrei">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div><!-- /example -->
{% highlight html %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="überschriftEins">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEins" aria-expanded="true" aria-controls"collapseEins">
          Klappbarer Eintrag #1
        </a>
      </h4>
    </div>
    <div id="collapseEins" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="überschriftZwei">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZwei" aria-expanded="false" aria-controls"collapseZwei">
          Klappbarer Eintrag #2
        </a>
      </h4>
    </div>
    <div id="collapseZwei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftZwei">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="überschriftDrei">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDrei" aria-expanded="false" aria-controls"collapseDrei">
          Klappbarer Eintrag #3
        </a>
      </h4>
    </div>
    <div id="collapseDrei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftDrei">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
{% endhighlight %}

  <p>Es ist auch möglich, <code>.panel-body</code>s mit <code>.list-group</code>s auszutauschen.</p>

  <div class="panel-group" role="tablist">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="collapseListengruppeÜberschrift1">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListengruppe1" aria-expanded="false" aria-controls="collapseListengruppe1">
            Klappbare Listengruppe
          </a>
        </h4>
      </div>
      <div id="collapseListengruppe1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListengruppeÜberschrift1">
        <ul class="list-group">
          <li class="list-group-item">Bootply</li>
          <li class="list-group-item">One itmus ac facilin</li>
          <li class="list-group-item">Second eros</li>
        </ul>
        <div class="panel-footer">Footer</div>
      </div>
    </div>
  </div>

  <div class="bs-callout bs-callout-warning" id="callout-collapse-accessibility">
    <h4>Mach Collapse barrierefrei</h4>
    <p>Füge unbedingt <code>aria-expanded</code> zum kontrollierenden Element hinzu. Dieses Attribut definiert explizit den aktuellen Status des ein-/ausklappbaren Elements für Screenreader und ähnliche assistive Technologien. Falls das ein-/ausklappbare Element standardmäßig geschlossen ist, sollte es den Wert <code>aria-expanded="false"</code> haben. Falls du das ein-/ausklappbare Element über die Klasse <code>in</code> standardmäßig geöffnet hast, füge stattdessen <code>aria-expanded="true"</code> zum kontrollierenden Element hinzu. Das Plugin wird das Attribut automatisch umschalten, wenn das ein-/ausklappbare Element geöffnet oder geschlossen wird.</p>
    <p>Zusätzlich kannst du, wenn das kontrollierende Element mit einem einzelnen ein-/ausklappbaren Element verknüpft ist (also wenn das Attribut <code>data-target</code> auf einen <code>id</code>-Selektor zeigt), ein zusätzliches <code>aria-controls</code>-Attribut, das die <code>id</code> des ein-/ausklappbaren Elements enthält, zum kontrollierenden Element hinzufügen. Moderne Screenreader und ähnliche assistive Technologien verwenden dieses Attribut, um Nutzern zusätzliche Kürzel zur Verfügung zu stellen, mit denen sie direkt zum ein-/ausklappbaren Element selbst navigieren können.</p>
  </div>


  <h2 id="collapse-usage">Verwendung</h2>
  <p>Das Collapse-Plugin verwendet einige Klassen, um die Schwerstarbeit zu machen:</p>
  <ul>
    <li><code>.collapse</code> verbirgt den Inhalt</li>
    <li><code>.collapse.in</code> zeigt den Inhalt</li>
    <li><code>.collapsing</code> wird hinzugefügt, wenn der Übergang startet und wieder entfernt, wenn dieser vorbei ist</li>
  </ul>
  <p>Diese Klassen findest du in <code>component-animations.less</code>.</p>

  <h3>Über Data-Attribute</h3>
  <p>Füge einfach <code>data-toggle="collapse"</code> und <code>data-target</code> zu einem Element hinzu, um automatisch die Kontrolle über ein klappbares Element zuzuweisen. Das Attribut <code>data-target</code> akzeptiert CSS-Selektor, auf die die Klappfunktion angewendet werden woll. Denk daran, die Klasse <code>collapse</code> zum klappbaren Element hinzuzufügen. Wenn es ausgeklappt starten soll, musst du außerdem die zusätzliche Klasse <code>in</code> hinzufügen.</p>
  <p>Um Gruppenverwaltung wie beim Accordion zu einem kontrollierenden Element hinzuzufügen, ergänze einfach das Data-Attribut <code>data-parent="#selector"</code>. Sieh dir das Beispiel an, um die genauen Abläufe zu verstehen.</p>

  <h3>Über JavaScript</h3>
  <p>Aktiviere diese Funktionen manuell:</p>
{% highlight js %}
$('.collapse').collapse()
{% endhighlight %}

  <h3 id="collapse-options">Optionen</h3>
  <p>Optionen können über Data-Attribute oder JavaScript angegeben werden. Für Data-Attribute hängst du den Namen der Option einfach an <code>data-</code>, z.B. <code>data-parent=""</code>.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped js-options-table">
      <thead>
       <tr>
         <th>Name</th>
         <th>Typ</th>
         <th>Standard</th>
         <th>Beschreibung</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>parent</td>
         <td>Selektor</td>
         <td>false</td>
         <td>Falls ein Selektor angegeben wird, werden alle anderen klappbaren Elemente unter dem angegeben Elternelement geschlossen, wenn eines davon geöffnet wird. (So ähnlich wie beim Accordion, das auf der Klasse <code>panel</code> basiert)</td>
       </tr>
       <tr>
         <td>toggle</td>
         <td>Boolean</td>
         <td>true</td>
         <td>Schlatet den Status des klappbaren Elements um, wenn es aufgerufen wird</td>
       </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->

  <h3 id="collapse-methods">Methoden</h3>

  <h4><code>.collapse(Optionen)</code></h4>
  <p>Aktiviert deinen Inhalt als klappbares Element. Akzeptiert optional ein <code>object</code> mit Optionen.</p>
{% highlight js %}
$('#meinKlappelement').collapse({
  toggle: false
})
{% endhighlight %}

  <h4><code>.collapse('toggle')</code></h4>
  <p>Ändert den Status eines klappbaren Elements von sichtbar zu verborgen und umgekehrt.</p>

  <h4><code>.collapse('show')</code></h4>
  <p>Zeigt ein klappbares Element an.</p>

  <h4><code>.collapse('hide')</code></h4>
  <p>Verbirgt ein klappbares Element.</p>

  <h3 id="collapse-events">Ereignisse</h3>
  <p>Bootstraps Collapse-Klassen legen einige Ereignisse offen, um sich in die Collapse-Funktionen einzuklinken.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped bs-events-table">
      <thead>
       <tr>
         <th>Ereignistyp</th>
         <th>Beschreibung</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>show.bs.collapse</td>
         <td>Dieses Ereignis wird sofort ausgelöst, wenn die Methode <code>show</code> aufgerufen wird.</td>
       </tr>
       <tr>
         <td>shown.bs.collapse</td>
         <td>Dieses Eregnis wird ausgelöst, wenn das Collapse-Element dem Nutzer angezeigt wurde (wartet auf CSS-Übergänge).</td>
       </tr>
       <tr>
         <td>hide.bs.collapse</td>
         <td>
          Dieses Ereignis wird sofort ausgelöst, wenn die Methode <code>hide</code> aufgerufen wird.
         </td>
       </tr>
       <tr>
         <td>hidden.bs.collapse</td>
         <td>Dieses Eregnis wird ausgelöst, wenn das Collapse-Element vor dem Nutzer verborgen wurde (wartet auf CSS-Übergänge).</td>
       </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
{% highlight js %}
$('#meinCollapsible').on('hidden.bs.collapse', function () {
  // etwas ausführen...
})
{% endhighlight %}
</div>
