<div class="bs-docs-section">
  <h1 id="js-overview" class="page-header">Überblick</h1>

  <h2 id="js-individual-compiled">Einzeln oder kompiliert</h2>
  <p>Plugins können einzeln (über Bootstraps separate <code>*.js</code>-Dateien) oder alle auf einmal (über <code>bootstrap.js</code> oder das minimierte <code>bootstrap.min.js</code>) eingebunden werden.</p>

  <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
    <h4>Umgang mit dem kompilierten JavaScript</h4>
    <p>Sowohl <code>bootstrap.js</code> als auch <code>bootstrap.min.js</code> enhalten alle Plugins in einer einzigen Datei. Binde immer nur eine von beiden in deine Dokumente ein.</p>
  </div>

  <div class="bs-callout bs-callout-danger" id="callout-overview-dependencies">
    <h4>Plugin-Abhängigkeiten</h4>
    <p>Einige Plugins und CSS-Komponenten sind von anderen Plugins abhängig. Falls du Plugins einzeln einbindest, musst du mit Hilfe der Dokumentation überprüfen, ob diese Abhängigkeiten erfüllt werden. Beachte außerdem, dass alle Plugins jQuery benötigen (das bedeutet, dass jQuery <strong>vor</strong> den Plugin-Dateien eingebunden werden muss). <a href="{{ site.repo }}/blob/v{{ site.current_version }}/bower.json">Lies unsere <code>bower.json</code></a>, um herauszufinden, welche Versionen von jQuery unterstützt werden.</p>
  </div>

  <h2 id="js-data-attrs">Data-Attribute</h2>
  <p>Du kannst alle Bootstrap-Plugins vollkommen über die Markup-API verwenden, ohne eine einzige Zeile JavaScript zu schreiben. Diese erstklassige API sollte immer deine erste Wahl bei der Verwendung eines Plugins sein.</p>

  <p>Es kann allerdings manchmal wünschenswert sein, diese Funktionalität abzuschalten. Daher bieten wir dir die Möglichkeit, die Data-Attribut-API zu deaktivieren, indem alle Ereignisse des Dokuments im Namespace <code>data-api</code> losgebunden werden. Das sieht dann so aus:</p>
{% highlight js %}
$(document).off('.data-api')
{% endhighlight %}

  <p>Alternativ kannst du ein bestimmtes Plugin anvisieren. Füge einfach den Namen des Plugins zur Namespace-Angabe hinzu, so wie hier:</p>
{% highlight js %}
$(document).off('.alert.data-api')
{% endhighlight %}

  <div class="bs-callout bs-callout-danger" id="callout-overview-single-data">
    <h4>Nur ein Plugin pro Element über Data-Attribute</h4>
    <p>Verwende keine Data-Attribute von mehreren unterschiedlichen Plugins bei einem gleichen Element. Zum Beispiel kann ein Button nicht sowohl einen Tooltip haben und ein Modal aktivieren. Um so etwas zu bewerkstelligen, kannst du ein umschließendes Element hinzufügen.</p>
  </div>

  <h2 id="js-programmatic-api">Programmatische API</h2>
  <p>Wir denken, dass du Bootstraps Plugins auch über eine pure JavaScript-API verwenden können solltest. Alle öffentlichen APIs sind einzelne Methoden, die du aneinander reihen kannst und die die Sammlung zurückgeben, mit der sie gerade interagieren.</p>
{% highlight js %}
$('.btn.danger').button('toggle').addClass('fat')
{% endhighlight %}

  <p>Alle Methoden sollten ein optionales Objekt mit Optionen annehmen, ein String, der eine bestimmte Methode anvisiert oder einfach nichts (was dazu führt, dass ein Plugin mit Standard-Verhalten initiiert wird:</p>
{% highlight js %}
$('#meinModal').modal()                      // mit Standards initiieren
$('#meinModal').modal({ keyboard: false })   // ohne Tastatur initiieren
$('#meinModal').modal('show')                // initiieren und direkt 'show' aufrufen
{% endhighlight %}

  <p>Jedes Plugin legt seinen rohen Konstruktor in der <code>Constructor</code>-Eigenschaft offen: <code>$.fn.popover.Constructor</code>. Falls du eine bestimmte Instanz eines Plugins brauchst, ruf sie direkt von einem Element auf: <code>$('[rel="popover"]').data('popover')</code>.</p>

  <h4>Standard-Einstellungen</h4>
  <p>Du kannst die Standard-Einstellungen für ein Plugin ändern, indem du das Objekt <code>Constructor.DEFAULTS</code> des Plugins bearbeitest:</p>
{% highlight js %}
$.fn.modal.Constructor.DEFAULTS.keyboard = false // setzt die Option `keyboard` des Modal-Plugins standardmäßig auf false
{% endhighlight %}

  <h2 id="js-noconflict">No conflict</h2>
  <p>Unter Umständen musst du Bootstraps Plugins Seite an Seite mit anderen UI-Frameworks verwenden. In diesen Fällen kann es manchmal dazu kommen, dass sich Namespaces überschneiden. Falls das passiert, rufe <code>.noConflict</code> an einem Plugin auf, um dessen Wert zurückzusetzen.</p>
{% highlight js %}
var bootstrapButton = $.fn.button.noConflict() // setze $.fn.button auf den zuvor zugewiesenen Wert zurück
$.fn.bootstrapBtn = bootstrapButton            // gib $().bootstrapBtn die Bootstrap-Funktionalität
{% endhighlight %}

  <h2 id="js-events">Ereignisse</h2>
  <p>Bootstrap stellt eigene Ereignisse für die meisten der einmaligen Plugin-Aktionen zur Verfügung. In der Regel sind diese Kombinationen aus Infinitiv und Partizip. Der Infinitiv davon (z.B. <code>show</code>) wird beim Start eines Ereignisses ausgelöst und die Partizip-Form (z.B. <code>shown</code>) wird ausgelöst wenn die Aktion abgeschlossen ist.</p>
  <p>Seit v3.0.0 sind alle Bootstrap-Ereignisse in einem eigenen Namespace.</p>
  <p>Alle Infinitiv-Ereignisse kommen mit <code>preventDefault</code>-Funktionalität. Diese ermöglicht es, die Ausführung einer Aktion zu verhindern, bevor sie anfängt.</p>
{% highlight js %}
$('#meinModal').on('show.bs.modal', function (e) {
  if (!data) return e.preventDefault() // verhindert, dass das Modal angezeigt wird
})
{% endhighlight %}

  <h2 id="js-sanitizer">Sanitizer</h2>

  <p>Tooltips und Popovers nutzen unseren eingebauten Sanitizer, um HTML-akzeptierende Optionen vor der Verarbeitung zu säubern.</p>
  <p>Die Standardliste mit erlaubten Eingaben (<code>whiteList</code>) ist:</p>

{% highlight js %}
var ARIA_ATTRIBUTE_PATTERN = /^aria-[\w-]*$/i
var DefaultWhitelist = {
  // Global attributes allowed on any supplied element below.
  '*': ['class', 'dir', 'id', 'lang', 'role', ARIA_ATTRIBUTE_PATTERN],
  a: ['target', 'href', 'title', 'rel'],
  area: [],
  b: [],
  br: [],
  col: [],
  code: [],
  div: [],
  em: [],
  hr: [],
  h1: [],
  h2: [],
  h3: [],
  h4: [],
  h5: [],
  h6: [],
  i: [],
  img: ['src', 'alt', 'title', 'width', 'height'],
  li: [],
  ol: [],
  p: [],
  pre: [],
  s: [],
  small: [],
  span: [],
  sub: [],
  sup: [],
  strong: [],
  u: [],
  ul: []
}
{% endhighlight %}

  <p>Wenn du zusätzliche Einträge zur <code>whiteList</code> hinzufügen willst, kannst du das so machen:</p>

{% highlight js %}
var myDefaultWhiteList = $.fn.tooltip.Constructor.DEFAULTS.whiteList

// Um table Elemente zu erlauben
myDefaultWhiteList.table = []

// Um td Elemente inkl. data-option Attribut zu erlauben
myDefaultWhiteList.td = ['data-option']

// Du kannst auch deine eigene Regex pushen, um Attribute zu validieren.
// Pass gut auf, dass deine Regex nicht zu lasch ist.
var myCustomRegex = /^data-my-app-[\w-]+/
myDefaultWhiteList['*'].push(myCustomRegex)
{% endhighlight %}

  <p>Falls du unseren Sanitizer umgehen willst, etwa weil du ein anderes Paket (z.B. <a href="https://www.npmjs.com/package/dompurify">DOMPurify</a>) dafür verwenden willst, musst du so vorgehen:</p>

{% highlight js %}
$('#yourTooltip').tooltip({
  sanitizeFn: function (content) {
    return DOMPurify.sanitize(content)
  }
})
{% endhighlight %}

  <div class="bs-callout bs-callout-danger" id="callout-sanitizer-no-createhtmldocument">
    <h4>Browser ohne <code>document.implementation.createHTMLDocument</code></h4>
    <p>Falls Browser wie Internet Explorer 8 <code>document.implementation.createHTMLDocument</code> nicht unterstützen, gibt der eingebaute Sanitizer das HTML wie eingegeben zurück.</p>
    <p>Möchtest du auch in diesem Fall eine Säuberung der Eingabe durchführen willst, leg bitte <code>sanitizeFn</code> fest und nutze eine externe Bibliothek wie <a href="https://www.npmjs.com/package/dompurify">DOMPurify</a>.</p>
  </div>

  <h2 id="js-version-nums">Versionsnummern</h2>
  <p>Die Version jedes der Bootstrap-jQuery-Plugins kann über die Eigenschaft <code>VERSION</code> des Plugin-Konstruktors abgerufen werden. Zum Beispiel beim Tooltip-Plugin:</p>
{% highlight js %}
$.fn.tooltip.Constructor.VERSION // => "{{ site.current_version }}"
{% endhighlight %}

  <h2 id="js-disabled">Keine besonderen Ersatzfunktionen wenn JavaScript deaktiviert ist</h2>
  <p>Bootstraps Plugins haben keine ausgesprochen elegante Reserve wenn JavaScript deaktiviert ist. Falls du dich in diesem Fall um das Benutzererlebnis sorgst, verwende <a href="https://developer.mozilla.org/de/docs/Web/HTML/Element/noscript"><code>&lt;noscript&gt;</code></a>, um deinen Nutzern die Situation (und die Reaktivierung von JavaScript) zu erklären und/oder füge dein eigenes Reservesystem hinzu.</p>

  <div class="bs-callout bs-callout-warning" id="callout-third-party-libs">
    <h4>Drittanbieter-Bibliotheken</h4>
    <p><strong>Bootstrap unterstützt offiziell keine dritten JavaScript-Bibliotheken</strong> wie Prototype oder jQuery UI. Trotz <code>.noConflict</code> und Ereignissen mit Namespace kann es zu Kompatibilitätsproblemen kommen, die du alleine beheben musst.</p>
  </div>
</div>
