<div class="bs-docs-section">
  <h1 id="popovers" class="page-header">Popovers <small>popover.js</small></h1>

  <p>Füge kleine Inhaltsüberlagerungen wie die auf dem iPad zu irgendeinem Element hinzu, um zusätzliche Informationen anzuzeigen.</p>
  <p>Popovers, deren Titel und Inhalt beide null Charaktere lang sind, werden niemals angezeigt.</p>

  <div class="bs-callout bs-callout-danger" id="callout-popover-needs-tooltip">
    <h4>Plugin-Abhängigkeit</h4>
    <p>Popovers sind eine Erweiterung des <a href="#tooltips">Tooltip-Plugins</a>, das daher in deiner Version von Bootstrap vorhanden sein muss.</p>
  </div>
  <div class="bs-callout bs-callout-danger" id="callout-popover-opt-in">
    <h4>Opt-in-Funktionalität</h4>
    <p>Aus Gründen der Performance musst du die Data-APIs von Tooltips und Popovers <strong>manuell initialisieren</strong> bevor du sie verwenden kannst.</p>
    <p>Ein Weg, alle Popovers auf einer Seite zu initialisieren, wäre, sie über ihr Attribut <code>data-toggle</code> auszuwählen:</p>
{% highlight js %}
$(function () {
  $('[data-toggle="popover"]').popover()
})
{% endhighlight %}
  </div>
  <div class="bs-callout bs-callout-warning" id="callout-popover-groups">
    <h4>Tooltips &amp; Popovers in Button-Gruppen und Input-Gruppen benötigen besondere Einstellung</h4>
    <p>Wenn du Tooltips oder Popovers an Elementen in einer <code>.btn-group</code> oder <code>.input-group</code> verwendest, musst du die Option <code>container: 'body'</code> festlegen, um unerwünschte Nebeneffekte zu vermeiden (das Element könnte z.B. breiter werden und/oder seine abgerundeten Ecken verlieren, wenn der Tooltip oder das Popover ausgelöst wird).</p>
  </div>
  <div class="bs-callout bs-callout-warning" id="callout-popover-hidden">
    <h4>Versuche nicht, Popovers an verborgenen Elementen anzuzeigen</h4>
    <p>Wenn das Zielelement <code>display: none;</code> ist und du trotzdem versuchst, <code>$(...).popover('show')</code> aufzurufen, wird das Popover falsch positioniert.</p>
  </div>
  <div class="bs-callout bs-callout-info" id="callout-popover-disabled">
    <h4>Popovers an deaktivierten Elementen benötigen ein umschließendes Element</h4>
    <p>Um ein Popover zu einem deaktivierten Element mit <code>disabled</code> oder <code>.disabled</code> hinzuzufügen, musst du das Element in einem <code>&lt;div&gt;</code> platzieren und das Popover stattdessen darauf anwenden.</p>
  </div>
  <div class="bs-callout bs-callout-info" id="callout-popover-multiline">
    <h4>Links über mehrere Zeilen</h4>
    <p>Manchmal willst du ein Popover zu einem Hyperlink hinzufügen, der über mehrere Zeilen geht. Das Standard-Verhalten des Popover-Plugins in diesem Fall ist, es horizontal und vertikal zu zentrieren. Füge <code>white-space: nowrap;</code> zu deinen Links hinzu, um dies zu vermeiden.</p>
  </div>

  <h2 id="popovers-examples">Beispiele</h2>
  <h3>Statisches Popover</h3>
  <p>Es gibt vier Optionen: Ausrichtung nach oben, rechts, unten und links.</p>
  <div class="bs-example bs-example-popover" data-example-id="static-popovers">
    <div class="popover top">
      <div class="arrow"></div>
      <h3 class="popover-title">Popover oben</h3>
      <div class="popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

    <div class="popover right">
      <div class="arrow"></div>
      <h3 class="popover-title">Popover rechts</h3>
      <div class="popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

    <div class="popover bottom">
      <div class="arrow"></div>
      <h3 class="popover-title">Popover unten</h3>

      <div class="popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

    <div class="popover left">
      <div class="arrow"></div>
      <h3 class="popover-title">Popover links</h3>
      <div class="popover-content">
        <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <h3>Live-Ansicht</h3>
  <div class="bs-example" style="padding-bottom: 24px;">
    <button type="button" class="btn btn-lg btn-danger bs-docs-popover" data-toggle="popover" title="Popover-Titel" data-content="Und ein bisschen Inhalt. Ganz schön faszinierend, oder?">Popover anzeigen</button>
  </div>
{% highlight html %}
<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover-Titel" data-content="Und ein bisschen Inhalt. Ganz schön faszinierend, oder?">Popover anzeigen</button>
{% endhighlight %}

  <h4>Vier Richtungen</h4>
  <div class="bs-example popover-demo">
    <div class="bs-example-popovers">
      <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover links
      </button>
      <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover oben
      </button>
      <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover unten
      </button>
      <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover rechts
      </button>
    </div>
  </div><!-- /example -->
{% highlight html %}
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover links
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover oben
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover unten
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover rechts
</button>
{% endhighlight %}

  <h4>Beim nächsten Klick schließen</h4>
  <p>Verwende den Auslöser <code>focus</code>, um Popovers beim nächsten Klick des Nutzers zu schließen.</p>
  <div class="bs-callout bs-callout-danger" id="callout-popover-dismiss-click">
    <h4>Spezifisches Markup für Schließen-beim-nächsten-Klick benötigt</h4>
    <p>Für vernünftiges Verhalten in allen Browsern und auf allen Plattformen musst du das Tag <code>&lt;a&gt;</code>, <i>nicht</i> <code>&lt;button&gt;</code>, verwenden und außerdem das Attribut <a href="https://developer.mozilla.org/de/docs/Web/HTML/Global_attributes#tabindex"><code>tabindex</code></a> hinzufügen.</p>
  </div>
  <div class="bs-example" style="padding-bottom: 24px;">
    <a href="#" tabindex="0" class="btn btn-lg btn-danger bs-docs-popover" role="button" data-toggle="popover" data-trigger="focus" title="Schließbares Popover" data-content="Und ein bisschen Inhalt. Ganz schön faszinierend, oder?">Schließbares Popover</a>
  </div>
{% highlight html %}
<a href="#" tabindex="0" class="btn btn-lg btn-danger bs-docs-popover" role="button" data-toggle="popover" data-trigger="focus" title="Schließbares Popover" data-content="Und ein bisschen Inhalt. Ganz schön faszinierend, oder?">Schließbares Popover</a>
{% endhighlight %}


  <h2 id="popovers-usage">Verwendung</h2>
  <p>Aktiviere Popovers über JavaScript:</p>
  {% highlight js %}$('#beispiel').popover(options){% endhighlight %}

  <h3 id="popovers-options">Optionen</h3>
  <p>Optionen können über Data-Attribute oder JavaScript angegeben werden. Für Data-Attribute hängst du den Namen der Option einfach an <code>data-</code>, z.B. <code>data-animation=""</code>.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 100px;">Name</th>
          <th style="width: 100px;">Typ</th>
          <th style="width: 50px;">Standard</th>
          <th>Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>animation</td>
          <td>Boolean</td>
          <td>true</td>
          <td>Versieht das Popover mit einem CSS-Übergang beim Ein-/Ausblenden</td>
        </tr>
        <tr>
          <td>container</td>
          <td>String | false</td>
          <td>false</td>
          <td>
            <p>Ordnet das Popover einem bestimmten Element unter. Beispiel: <code>container: 'body'</code>. Dies erlaubt es dir, das Popover im Flow des Dokuments in der Nähe des auslösenden Elements zu positionieren, was es daran hindert, bei einer Änderung der Fenstergröße davon wegzudriften.</p>
          </td>
        </tr>
        <tr>
          <td>content</td>
          <td>String | Funktion</td>
          <td>''</td>
          <td>
            <p>Standard-Inhalt, falls kein <code>data-content</code>-Attribut vorhanden ist.</p>
            <p>Falls eine Funktion angegeben wird, wird diese mit ihrer <code>this</code>-Referenz gesetzt auf das Element, an das das Popover angebunden ist, aufgerufen.</p>
          </td>
        </tr>
        <tr>
          <td>delay</td>
          <td>Nummer | Objekt</td>
          <td>0</td>
          <td>
            <p>Verzögere das Anzeigen und Verbergen eines Popovers in ms - wirkt sich nicht auf den manuellen Auslöser aus</p>
            <p>Falls eine Nummer angegeben wird, wird die Verzögerung auf hide und show angewendet</p>
            <p>Object-Struktur: <code>delay: { "show": 500, "hide": 100 }</code></p>
          </td>
        </tr>
        <tr>
          <td>html</td>
          <td>Boolean</td>
          <td>false</td>
          <td>Falls du HTML im Popover einfügen willst. Beim Standard, false, wird jQuerys <code>text</code>-Methode verwendet, um den Inhalt ins DOM einzufügen. Verwende text, falls du dich wegen XSS-Angriffen sorgst.</td>
        </tr>
        <tr>
          <td>placement</td>
          <td>String | Funktion</td>
          <td>'top'</td>
          <td>
            <p>Wie das Popover positioniert werden soll - top | bottom | left | right | auto. <br> Wenn "auto" angegeben wird, wird das Popover dynamisch umorientiert. Zum Beispiel wird bei "auto left" das Popover nach Möglichkeit links positioniert, aber sonst nach rechts verlegt.</p>
            <p>Wenn eine Funktion verwendet wird, um die Positionierung zu bestimmen, wird diese mit dem Popover-DOM-Knoten als ihr erstes und dem auslösenden DOM-Element als ihr zweites Argument aufgerufen. Der <code>this</code>-Kontext wird auf die Popover-Instanz gesetzt.</p>
          </td>
        </tr>
        <tr>
          <td>selector</td>
          <td>String</td>
          <td>false</td>
          <td>Falls ein Selektor angegeben wird, werden Popover-Objekte an die angegebenen Ziele gebunden. In der Praxis ist dies nützlich, um dynamischen HTML-Inhalt mit Popovers zu versehen. Sieh dir <a href="https://github.com/twbs/bootstrap/issues/4215">dies</a> und <a href="http://jsbin.com/zopod/1/edit">ein informatives Beispiel</a> an.</td>
        </tr>
        <tr>
          <td>template</td>
          <td>string</td>
          <td><code>'&lt;div class="popover" role="tooltip"&gt;&lt;div class="arrow"&gt;&lt;/div&gt;&lt;h3 class="popover-title"&gt;&lt;/h3&gt;&lt;div class="popover-content"&gt;&lt;/div&gt;&lt;/div&gt;'</code></td>
          <td>
            <p>Grundlegendes HTML für die Erstellung des Popovers.</p>
            <p>Der <code>title</code> des Popovers wird in <code>.popover-title</code> injiziert.</p>
            <p>Der <code>content</code> des Popovers wird in <code>.popover-content</code> injiziert.</p>
            <p><code>.arrow</code> wird der Pfeil des Popovers.</p>
            <p>Das äußerste umschließende Element sollte die Klasse <code>.popover</code> haben.</p>
          </td>
        </tr>
        <tr>
          <td>title</td>
          <td>String | Funktion</td>
          <td>''</td>
          <td>
            <p>Standard-Titel-Wert, falls kein <code>title</code>-Attribut vorhanden ist.</p>
            <p>Falls eine Funktion angegeben wird, wird diese mit ihrer <code>this</code>-Referenz gesetzt auf das Element, an das das Popover angebunden ist, aufgerufen.</p>
          </td>
        </tr>
        <tr>
          <td>trigger</td>
          <td>String</td>
          <td>'click'</td>
          <td>Wie das Popover ausgelöst wird - click | hover | focus | manual. Du kannst mehrere Auslöser angeben; trenne sie mit einem Leerzeichen.</td>
        </tr>
        <tr>
          <td>viewport</td>
          <td>String | Objekt</td>
          <td>{ selector: 'body', padding: 0 }</td>
          <td>
            <p>Hält das Popover innerhalb der Grenzen dieses Elements. Beispiel: <code>viewport: '#viewport'</code> oder <code>{ "selector": "#viewport", "padding": 0 }</code></p>
          </td>
       </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
  <div class="bs-callout bs-callout-info" id="callout-popover-data">
    <h4>Data-Attribute für einzelne Popovers</h4>
    <p>Optionen für individuelle Popovers kannst du alternativ über Data-Attribute, wie oben erklärt, angeben.</p>
  </div>

  <h3>Methoden</h3>
  <h4>$().popover(Optionen)</h4>
  <p>Initialisiert Popovers für eine Reihe von Elementen.</p>

  <h4>.popover('show')</h4>
  <p>Öffnet das Popover eines Elements. <strong>Gibt das Ergebnis an den Aufruf zurück, bevor das Popover tatsächlich angezeigt wurde</strong> (also bevor das Ereignis <code>shown.bs.popover</code> passiert). Dies wird als "manuelles" Auslösen des Popovers betrachtet. Popovers, deren Titel und Inhalt keine Zeichen enthalten, werden niemals angezeigt.</p>
  {% highlight js %}$('#element').popover('show'){% endhighlight %}

  <h4>.popover('hide')</h4>
  <p>Verbirgt das Popover eines Elements. <strong>Gibt das Ergebnis an den Aufruf zurück, bevor das Popover tatsächlich verborgen wurde</strong> (also bevor das Ereignis <code>hidden.bs.popover</code> passiert). Dies wird als "manuelles" Auslösen des Popovers betrachtet.</p>
  {% highlight js %}$('#element').popover('hide'){% endhighlight %}

  <h4>.popover('toggle')</h4>
  <p>Schaltet die Sichtbarkeit des Popovers eines Elements um. <strong>Gibt das Ergebnis an den Aufruf zurück, bevor das Popover tatsächlich ein-/ausgeblendet wurde</strong> (also bevor das Ereignis <code>shown.bs.popover</code> oder <code>hidden.bs.popover</code> passiert). Dies wird als "manuelles" Auslösen des Popovers betrachtet.</p>
  {% highlight js %}$('#element').popover('toggle'){% endhighlight %}

  <h4>.popover('destroy')</h4>
  <p>Verbirgt und zerstört das Popover eines Elements.</p>
  {% highlight js %}$('#element').popover('destroy'){% endhighlight %}

  <h3 id="popovers-events">Ereignisse</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped bs-events-table">
      <thead>
        <tr>
          <th style="width: 150px;">Ereignistyp</th>
          <th>Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>show.bs.popover</td>
          <td>Dieses Ereignis wird ausgelöst, wenn die Methode <code>show</code> aufgerufen wird.</td>
        </tr>
        <tr>
          <td>shown.bs.popover</td>
          <td>Dieses Ereignis wird ausgelöst, wenn das Popover dem Nutzer vollständig angezeigt wurde (wartet auf CSS-Übergänge).</td>
        </tr>
        <tr>
          <td>hide.bs.popover</td>
          <td>Dieses Ereignis wird ausgelöst, wenn die Methode <code>hide</code> aufgerufen wird.</td>
        </tr>
        <tr>
          <td>hidden.bs.popover</td>
          <td>Dieses Ereignis wird ausgelöst, wenn das Popover vor dem Nutzer vollständig verborgen wurde (wartet auf CSS-Übergänge).</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
{% highlight js %}
$('#meinPopover').on('hidden.bs.popover', function () {
  // etwas ausführen...
})
{% endhighlight %}
</div>
