<div class="bs-docs-section">
  <h1 id="scrollspy" class="page-header">ScrollSpy <small>scrollspy.js</small></h1>

  <h2 id="scrollspy-examples">Beispiel in einer Navbar</h2>
  <p>Dass ScrollSpy-Plugin ist dazu da, in Navigationselementen automatisch anzuzeigen, wo sich die aktuelle Scroll-Position befindet. Scrolle durch das Beispiel unten und sieh dir an, wie die <code>.active</code>-Klasse nach und nach anderen Einträgen zugeordnet wird. Die Einträge im Dropdown-Menü werden ebenfalls hervorgehoben.</p>
  <div class="bs-example">
    <nav id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project-Titel</a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
          <ul class="nav navbar-nav">
            <li><a href="#fat">@fat</a></li>
            <li><a href="#mdo">@mdo</a></li>
            <li class="dropdown">
              <a href="#" id="navbarDrop1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown-Menü <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop1">
                <li><a href="#one" tabindex="-1">eins</a></li>
                <li><a href="#two" tabindex="-1">zwei</a></li>
                <li class="divider"></li>
                <li><a href="#three" tabindex="-1">drei</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example">
      <h4 id="fat">@fat</h4>
      <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
      <h4 id="mdo">@mdo</h4>
      <p>Veniam marfa mustache skateboard, adipisicing fugiat velit pitchfork beard. Freegan beard aliqua cupidatat mcsweeney's vero. Cupidatat four loko nisi, ea helvetica nulla carles. Tattooed cosby sweater food truck, mcsweeney's quis non freegan vinyl. Lo-fi wes anderson +1 sartorial. Carles non aesthetic exercitation quis gentrify. Brooklyn adipisicing craft beer vice keytar deserunt.</p>
      <h4 id="one">eins</h4>
      <p>Occaecat commodo aliqua delectus. Fap craft beer deserunt skateboard ea. Lomo bicycle rights adipisicing banh mi, velit ea sunt next level locavore single-origin coffee in magna veniam. High life id vinyl, echo park consequat quis aliquip banh mi pitchfork. Vero VHS est adipisicing. Consectetur nisi DIY minim messenger bag. Cred ex in, sustainable delectus consectetur fanny pack iphone.</p>
      <h4 id="two">zwei</h4>
      <p>In incididunt echo park, officia deserunt mcsweeney's proident master cleanse thundercats sapiente veniam. Excepteur VHS elit, proident shoreditch +1 biodiesel laborum craft beer. Single-origin coffee wayfarers irure four loko, cupidatat terry richardson master cleanse. Assumenda you probably haven't heard of them art party fanny pack, tattooed nulla cardigan tempor ad. Proident wolf nesciunt sartorial keffiyeh eu banh mi sustainable. Elit wolf voluptate, lo-fi ea portland before they sold out four loko. Locavore enim nostrud mlkshk brooklyn nesciunt.</p>
      <h4 id="three">drei</h4>
      <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
      <p>Keytar twee blog, culpa messenger bag marfa whatever delectus food truck. Sapiente synth id assumenda. Locavore sed helvetica cliche irony, thundercats you probably haven't heard of them consequat hoodie gluten-free lo-fi fap aliquip. Labore elit placeat before they sold out, terry richardson proident brunch nesciunt quis cosby sweater pariatur keffiyeh ut helvetica artisan. Cardigan craft beer seitan readymade velit. VHS chambray laboris tempor veniam. Anim mollit minim commodo ullamco thundercats.
      </p>
    </div>
  </div><!-- /example -->


  <h2 id="scrollspy-usage">Verwendung</h2>

  <div class="bs-callout bs-callout-warning">
    <h4>Bootstrap-Nav erforderlich</h4>
    <p>ScrollSpy erfordert zurzeit die Verwendung einer <a href="../components/#nav">Bootstrap-Nav-Komponente</a> für die richtige Hervorhebung von aktiven Links.</p>
  </div>
  <div class="bs-callout bs-callout-danger">
    <h4>ID-Ziele müssen zuzuordnen sein</h4>
    <p>Die Links in der navbar müssen einer ID zuzuordnen sein. Zum Beispiel muss <code>&lt;a href="#start"&gt;Start&lt;/a&gt;</code> mit einem Element im DOM wie <code>&lt;div id="start"&gt;&lt;/div&gt;</code> korrespondieren.</p>
  </div>
  <div class="bs-callout bs-callout-info">
    <h4>Zielelemente, die nicht <code>:visible</code> sind, werden ignoriert</h4>
    <p>Zielelemente, die <a href="http://api.jquery.com/visible-selector/">laut jQuery nicht <code>:visible</code></a> (sichtbar) sind, werden ignoriert und die zugehörigen Nav-Einträge werden niemals hervorgehoben.</p>
  </div>

  <h3>Relative Positionierung notwendig</h3>
  <p>Unabhängig von der Umsetzung, erfordert ScrollSpy <code>position: relative;</code> beim Element, das beobachtet wird. In den meisten Fällen ist das der <code>&lt;body&gt;</code>.</p>

  <h3>Über Data-Attribute</h3>
  <p>Um zu deiner Hauptnavigation ganz leicht ScrollSpy-Funktionen hinzuzufügen, füge <code>data-spy="scroll"</code> zu dem Element hinzu, bei dem du die Scroll-Position beobachten willst (üblicherweise der <code>&lt;body&gt;</code>). Dann fügst du das Attribut <code>data-target</code> mit einer ID oder Klasse des übergeordneten Elements einer Bootstrap-<code>.nav</code>-Komponente hinzu.</p>
{% highlight css %}
body {
  position: relative;
}
{% endhighlight %}
{% highlight html %}
<body data-spy="scroll" data-target=".navbar-example">
  ...
  <div class="navbar-example">
    <ul class="nav nav-tabs" role="tablist">
      ...
    </ul>
  </div>
  ...
</body>
{% endhighlight %}

  <h3>Über JavaScript</h3>
  <p>Ruf den Scroll-Beobachter über JavaScript auf, nachdem du <code>position: relative;</code> in deinem CSS hinzugefügt hast:</p>
{% highlight js %}
$('body').scrollspy({ target: '.navbar-example' })
{% endhighlight %}


  <h3>Methoden</h3>
  <h4>.scrollspy('refresh')</h4>
  <p>Wenn du ScrollSpy auf Seiten verwendest, auf denen Elemente (aus) dem DOM hinzugefügt oder entfernt werden, musst du die Methode zur Aktualisierung so aufrufen:</p>
{% highlight js %}
$('[data-spy="scroll"]').each(function () {
  var $spy = $(this).scrollspy('refresh')
})
{% endhighlight %}


  <h3>Optionen</h3>
  <p>Optionen können über Data-Attribute oder JavaScript angegeben werden. Für Data-Attribute hängst du den Namen einer Option einfach an <code>data-</code>, also z.B. <code>data-offset=""</code>.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
       <tr>
         <th style="width: 100px;">Name</th>
         <th style="width: 100px;">Typ</th>
         <th style="width: 50px;">Standard</th>
         <th>Beschreibung</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>offset</td>
         <td>Nummer</td>
         <td>10</td>
         <td>Pixel, die von oben bei der Berechnung der Scroll-Position abgezogen werden sollen.</td>
       </tr>
      </tbody>
    </table>
  </div><!-- ./bs-table-responsive -->

  <h3>Ereignisse</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
       <tr>
         <th style="width: 150px;">Ereignistyp</th>
         <th>Beschreibung</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>activate.bs.scrollspy</td>
         <td>Dieses Ereignis wird ausgelöst, wenn ein neues Objekt vom ScrollSpy aktiviert wird.</td>
      </tr>
      </tbody>
    </table>
  </div><!-- ./bs-table-responsive -->
{% highlight js %}
$('#meinScrollspy').on('activate.bs.scrollspy', function () {
  // etwas ausführen...
})
{% endhighlight %}
</div>
