<div class="bs-docs-section">
  <h1 id="tooltips" class="page-header">Tooltips <small>tooltip.js</small></h1>
  <p>Inspiriert vom hevorragenden Plugin jQuery.tipsy von Jason Frame, bieten Tooltips eine aktualisierte Version, die nicht auf Bildern basiert, CSS3 für Animationen verwendet und Data-Attribute für die Speicherung von Inhalt nutzt.</p>
  <p>Tooltips, deren Titel null Charaktere lang ist, werden niemals angezeigt.</p>

  <h2 id="tooltips-examples">Beispiele</h2>
  <p>Bewege den Mauszeiger über (hover) die Links unten, um Tooltips zu sehen:</p>
  <div class="bs-example tooltip-demo">
    <p class="muted" style="margin-bottom: 0;">Tight pants next level keffiyeh <a href="#" data-toggle="tooltip" title="Standard-Tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" data-toggle="tooltip" title="Ein anderer Tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan <a href="#" data-toggle="tooltip" title="Und hier noch einer">whatever keytar</a>, scenester farm-to-table banksy Austin <a href="#" data-toggle="tooltip" title="Der letzte Tipp!">twitter handle</a> freegan cred raw denim single-origin coffee viral.
    </p>
  </div><!-- /example -->

  <h3>Statischer Tooltip</h3>
  <p>Vier Optionen sind verfügbar: nach oben, nach rechts, nach unten und nach links ausgerichtet.</p>
  <div class="bs-example bs-example-tooltip">
    <div class="tooltip left" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        Tooltip links
      </div>
    </div>
    <div class="tooltip top" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        Tooltip oben
      </div>
    </div>
    <div class="tooltip bottom" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        Tooltip unten
      </div>
    </div>
    <div class="tooltip right" role="tooltip">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner">
        Tooltip rechts
      </div>
    </div>
  </div>

  <h3>Vier Richtungen</h3>
  <div class="bs-example tooltip-demo">
    <div class="bs-example-tooltips">
      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip links">Tooltip links</button>
      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip oben">Tooltip oben</button>
      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip unten">Tooltip unten</button>
      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip rechts">Tooltip rechts</button>
    </div>
  </div><!-- /example -->
{% highlight html %}
<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip links">Tooltip links</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip oben">Tooltip oben</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip unten">Tooltip unten</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip rechts">Tooltip rechts</button>
{% endhighlight %}

  <div class="bs-callout bs-callout-danger">
    <h4>Opt-in-Funktionalität</h4>
    <p>Aus Gründen der Performance musst du die Data-APIs von Tooltips und Popovers <strong>manuell initialisieren</strong> bevor du sie verwenden kannst.</p>
  </div>
  <div class="bs-callout bs-callout-warning">
    <h4>Tooltips &amp; Popovers in Button-Gruppen und Input-Gruppen benötigen besondere Einstellung</h4>
    <p>Wenn du Tooltips oder Popovers an Elementen in einer <code>.btn-group</code> oder <code>.input-group</code> verwendest, musst du die Option <code>container: 'body'</code> festlegen, um unerwünschte Nebeneffekte zu vermeiden (das Element könnte z.B. breiter werden und/oder seine abgerundeten Ecken verlieren, wenn der Tooltip oder das Popover ausgelöst wird).</p>
  </div>
  <div class="bs-callout bs-callout-warning">
    <h4>Versuche nicht, Tooltips an verborgenen Elementen anzuzeigen</h4>
    <p>Wenn das Zielelement <code>display: none;</code> ist und du trotzdem versuchst, <code>$(...).tooltip('show')</code> aufzurufen, wird der Tooltip falsch positioniert.</p>
  </div>
  <div class="bs-callout bs-callout-info">
    <h4>Tooltips an deaktivierten Elementen benötigen ein umschließendes Element</h4>
    <p>Um einen Tooltip zu einem deaktivierten Element mit <code>disabled</code> oder <code>.disabled</code> hinzuzufügen, musst du das Element in einem <code>&lt;div&gt;</code> platzieren und den Tooltip stattdessen darauf anwenden.</p>
  </div>

  <h2 id="tooltips-usage">Verwendung</h2>
  <p>Das Tooltip-Plugin generiert Inhalt und Markup bei Bedarf und platziert diese standardmäßig hinter dem Element, das einen Tooltip auslöst.</p>
  <p>Löse den Tooltip über JavaScript aus:</p>
{% highlight js %}
$('#beispiel').tooltip(Optionen)
{% endhighlight %}

  <h3>Markup</h3>
  <p>Das benötigte Markup für einen Tooltip ist nur ein <code>data</code>-Attribut und ein <code>title</code> auf dem HTML-Element, das mit einem Tooltip versehen werden soll. Das generierte Markup eines Tooltips ist ziemlich einfach; es braucht allerdings eine Position (standardmäßig vom Plugin auf <code>top</code> gesetzt).</p>
  <div class="bs-callout bs-callout-warning">
    <h4>Mehrzeilige Links</h4>
    <p>Manchmal willst du einen Tooltip vielleicht zu einem Hyperlink hinzufügen, der über mehrere Zeilen geht. Das Standard-Verhalten in diesem Fall ist, dass der Tooltip horizontal und vertikal zentriert wird. Füge zu deinen Links <code>white-space: nowrap;</code> hinzu, um das zu vermeiden.</p>
  </div>
{% highlight html %}
<!-- HTML -->
<a href="#" data-toggle="tooltip" title="Ein bisschen Tooltip-Text!">Mauszeiger hier drüber</a>

<!-- Generiertes Markup -->
<div class="tooltip top" role="tooltip">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    Ein bisschen Tooltip-Text!
  </div>
</div>
{% endhighlight %}

  <h3>Optionen</h3>
  <p>Optionen können über Data-Attribute oder JavaScript angegeben werden. Für Data-Attribute hängst du den Namen der Option einfach an <code>data-</code>, z.B. <code>data-animation=""</code>.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 100px;">Name</th>
          <th style="width: 100px;">type</th>
          <th style="width: 50px;">Standard</th>
          <th>Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>animation</td>
          <td>Boolean</td>
          <td>true</td>
          <td>Versieht den Tooltip mit einem CSS-Übergang beim Ein-/Ausblenden</td>
        </tr>
        <tr>
          <td>container</td>
          <td>String | false</td>
          <td>false</td>
          <td>
            <p>Ordnet den Tooltip einem bestimmten Element unter. Beispiel: <code>container: 'body'</code>. Dies erlaubt es dir, das Popover im Flow des Dokuments in der Nähe des auslösenden Elements zu positionieren, was es daran hindert, bei einer Änderung der Fenstergröße davon wegzudriften.</p>
          </td>
        </tr>
        <tr>
          <td>delay</td>
          <td>Nummer | Objekt</td>
          <td>0</td>
          <td>
            <p>Verzögere das Anzeigen und Verbergen eines Tooltips in ms - wirkt sich nicht auf den manuellen Auslöser aus</p>
            <p>Falls eine Nummer angegeben wird, wird die Verzögerung auf hide und show angewendet</p>
            <p>Object-Struktur: <code>delay: { "show": 500, "hide": 100 }</code></p>
          </td>
        </tr>
        <tr>
          <td>html</td>
          <td>Boolean</td>
          <td>false</td>
          <td>Falls du HTML im Tooltip einfügen willst. Beim Standard, false, wird jQuerys <code>text</code>-Methode verwendet, um den Inhalt ins DOM einzufügen. Verwende text, falls du dich wegen XSS-Angriffen sorgst.</td>
        </tr>
        <tr>
          <td>placement</td>
          <td>String | Funktion</td>
          <td>'top'</td>
          <td>
            <p>Wie der Tooltip positioniert werden soll - top | bottom | left | right | auto. <br> Wenn "auto" angegeben wird, wird der Tooltip dynamisch umorientiert. Zum Beispiel wird bei "auto left" der Tooltip nach Möglichkeit links positioniert, aber sonst nach rechts verlegt.</p>
            <p>Wenn eine Funktion verwendet wird, um die Positionierung zu bestimmen, wird diese mit dem Tooltip-DOM-Knoten als ihr erstes und dem auslösenden DOM-Element als ihr zweites Argument aufgerufen. Der <code>this</code>-Kontext wird auf die Tooltip-Instanz gesetzt.</p>
          </td>
        </tr>
        <tr>
          <td>selector</td>
          <td>String</td>
          <td>false</td>
          <td>Falls ein Selektor angegeben wird, werden Tooltip-Objekte an die angegebenen Ziele gebunden. In der Praxis wird dies verwendet, um Tooltips zu dynamischem HTML-Inhalt hinzufügen zu können. Siehe <a href="https://github.com/twbs/bootstrap/issues/4215">hier</a> und <a href="http://jsbin.com/zopod/1/edit">ein informatives Beispiel</a>.</td>
        </tr>
        <tr>
          <td>template</td>
          <td>string</td>
          <td><code>'&lt;div class="tooltip" role="tooltip"&gt;&lt;div class="tooltip-arrow"&gt;&lt;/div&gt;&lt;div class="tooltip-inner"&gt;&lt;/div&gt;&lt;/div&gt;'</code></td>
          <td>
            <p>Grundlegendes HTML für die Erstellung des Tooltips.</p>
            <p>Der <code>title</code> des Tooltips wird in <code>.tooltip-inner</code> injiziert.</p>
            <p><code>.tooltip-arrow</code> wird der Pfeil des Tooltips.</p>
            <p>Das äußerste umschließende Element sollte die Klasse <code>.tooltip</code> haben.</p>
          </td>
        </tr>
        <tr>
          <td>title</td>
          <td>String | Funktion</td>
          <td>''</td>
          <td>
            <p>Standard-Titel-Wert, falls kein <code>title</code>-Attribut vorhanden ist</p>
            <p>Falls eine Funktion angegeben wird, wird diese mit ihrer <code>this</code>-Referenz gesetzt auf das Element, an das der Tooltip angebunden ist, aufgerufen.</p>
          </td>
        </tr>
        <tr>
          <td>trigger</td>
          <td>String</td>
          <td>'hover focus'</td>
          <td>Wie der Tooltip ausgelöst wird - click | hover | focus | manual. Du kannst mehrere Auslöser angeben; trenne sie mit einem Leerzeichen.</td>
        </tr>
        <tr>
          <td>viewport</td>
          <td>string | object</td>
          <td>{ selector: 'body', padding: 0 }</td>
          <td>
            <p>Behält den Tooltip innerhalb der Grenzen dieses Elements. Beispiel: <code>viewport: '#viewport'</code> oder <code>{ "selector": "#viewport", "padding": 0 }</code></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
  <div class="bs-callout bs-callout-info">
    <h4>Data-Attribute für einzelne Tooltips</h4>
    <p>Optionen für individuelle Tooltips kannst du alternativ über Data-Attribute, wie oben erklärt, angeben.</p>
  </div>

  <h3>Methoden</h3>

  <h4>$().tooltip(Optionen)</h4>
  <p>Aktiviert Tooltip-Funktionen bei einer Reihe von Elementen.</p>

  <h4>.tooltip('show')</h4>
  <p>Öffnet den Tooltip eines Elements. Tooltips, deren Titel keine Zeichen enthalten, werden niemals angezeigt.</p>
  {% highlight js %}$('#element').tooltip('show'){% endhighlight %}

  <h4>.tooltip('hide')</h4>
  <p>Verbirgt den Tooltip eines Elements.</p>
  {% highlight js %}$('#element').tooltip('hide'){% endhighlight %}

  <h4>.tooltip('toggle')</h4>
  <p>Schaltet die Sichtbarkeit des Tooltips eines Elements um.</p>
  {% highlight js %}$('#element').tooltip('toggle'){% endhighlight %}

  <h4>.tooltip('destroy')</h4>
  <p>Verbirgt und zerstört den Tooltip eines Elements.</p>
  {% highlight js %}$('#element').tooltip('destroy'){% endhighlight %}

  <h3>Ereignisse</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 150px;">Ereignistyp</th>
          <th>Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>show.bs.tooltip</td>
          <td>Dieses Ereignis wird ausgelöst, wenn die Methode <code>show</code> aufgerufen wird.</td>
        </tr>
        <tr>
          <td>shown.bs.tooltip</td>
          <td>Dieses Ereignis wird ausgelöst, wenn der Tooltip dem Nutzer vollständig angezeigt wurde (wartet auf CSS-Übergänge).</td>
        </tr>
        <tr>
          <td>hide.bs.tooltip</td>
          <td>Dieses Ereignis wird ausgelöst, wenn die Methode <code>hide</code> aufgerufen wird.</td>
        </tr>
        <tr>
          <td>hidden.bs.tooltip</td>
          <td>Dieses Ereignis wird ausgelöst, wenn der Tooltip vor dem Nutzer vollständig verborgen wurde (wartet auf CSS-Übergänge).</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
{% highlight js %}
$('#meinTooltip').on('hidden.bs.tooltip', function () {
  // etwas aufrufen...
})
{% endhighlight %}
</div>
