<div class="bs-docs-section">
  <h1 id="transitions" class="page-header">Übergänge <small>transition.js</small></h1>

  <h2>Über Übergänge</h2>
  <p>Für einfache Übergangseffekte kannst du <code>transition.js</code> verwenden. Falls du die kompilierten oder minimierten <code>bootstrap.js</code>-Dateien nutzt, ist diese Datei schon dabei und du musst sie nicht noch einmal einbinden.</p>
  <h2>Was drin ist</h2>
  <p>Transition.js ist ein einfacher Helfer für <code>transitionEnd</code>-Ereignisse sowie ein Emulator für CSS-Übergänge. Es wird von den anderen Plugins verwendet, um zu testen, ob CSS-Übergänge verfügbar sind und aufgehängte Übergänge aufzufangen.</p>
</div>
