<!-- Footer
================================================== -->
<footer class="bs-docs-footer">
  <div class="container">

    <ul class="bs-docs-footer-links">
      <li><a href="{{ site.repo }}">GitHub (en)</a></li>
      <li><a href="https://github.com/juthilo/bootstrap-german">GitHub (de)</a></li>
      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
      <li><a href="{{ site.baseurl }}/los-gehts/#examples">Beispiele</a></li>
      <li><a href="{{ site.baseurl }}/ueber-bootstrap/">Über Bootstrap</a></li>
      <li><a href="{{ site.baseurl }}/impressum/">Kontakt / Impressum</a></li>
      <li><a href="{{ site.baseurl }}/datenschutz/">Datenschutzerklärung</a></li>
    </ul>

    <p>Entworfen und entwickelt mit unendlicher Liebe von <a href="https://twitter.com/mdo" target="_blank">@mdo</a> und <a href="https://twitter.com/fat" target="_blank">@fat</a>. Gepflegt vom <a href="https://github.com/orgs/twbs/people">Hauptteam</a> mit der Unterstützung <a href="https://github.com/twbs/bootstrap/graphs/contributors">unserer Beitragenden</a>.</p>

    <p>Code lizenziert unter der <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" rel="license noopener" target="_blank">MIT-Lizenz</a>, Dokumentation unter <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" rel="license noopener" target="_blank">CC BY 3.0</a>.</p>

    <p>Dokumentation mit Liebe und Sorgfalt übersetzt von <a href="https://github.com/juthilo" target="_blank">@juthilo</a>. Für die aktuellsten, zuverlässigsten Informationen solltest du im Zweifelsfall die <a href="https://getbootstrap.com" target="_blank">offizielle Dokumentation auf Englisch</a> lesen.</p>

  </div>
</footer>

<!-- Bootstrap JavaScript
================================================== -->
<!-- Am Ende des Dokuments platziert, damit Seiten schneller laden -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"><\/script>')</script>

{% if site.github %}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.min.js"></script>
{% else %}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
{% endif %}

{% if page.layout == "default" %}
<script src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
{% endif %}

{% if site.github %}
  <script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
{% else %}
  {% for file in site.data.configBridge.paths.docsJs %}
  <script src="{{ file | replace_first: '..', site.baseurl }}"></script>
  {% endfor %}
{% endif %}
