<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bootstrap, ein umfangreiches und dennoch schlankes Mobile-First Frond-End-Framework für einfachere und schnellere Entwicklung im Web.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development, entwicklung, internet entwicklung">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

<title>
  {% if page.title == "Bootstrap" %}
    {{ page.title }} (deutsch)
  {% else %}
    {{ page.title }} &middot; Bootstrap (deutsch)
  {% endif %}
</title>

<!-- Bootstrap CSS -->
<link href="../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Stile für die Dokumentation -->
<link href="../assets/css/pack.min.css" rel="stylesheet">
<!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- Unterstützung für Media Queries und HTML5-Elemente im Internet Explorer über HTML5 shim und Respond.js -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
                               <link rel="shortcut icon" href="../assets/ico/favicon.ico">
