<div class="bs-docs-section">
  <h1 id="support" class="page-header">Browser- und Geräte-Support</h1>
  <p class="lead">Bootstrap ist so gebaut, dass es mit den neuesten Desktop- und mobilen Browsern funktioniert. Das bedeutet, dass ältere Browser unter Umständen anders gestaltete Komponenten anzeigen, die aber trotzdem voll funktionsfähig sind.</p>

  <h2 id="support-browsers">Unterstützte Browser</h2>
  <p>Explizit unterstützen wir die <strong>neuesten Versionen</strong> der folgenden Browser und Plattformen.</p>

  <p>Andere Browser, die die neueste Version von WebKit, Blink oder Gecko verwenden (entweder direkt oder über die Web View API der Plattform) werden nicht explizit unterstützt. Bootstrap sollte in den meisten Fällen aber dennoch auch in diesen Browsern gut aussehen und funktionieren. Genauere Informationen gibt es unten.</p>

  <h3 id="mobile-devices">Mobile Geräte</h3>
  <p>Ganz allgemein unterstützt Bootstrap die neuesten Versionen der Standardbrowser auf den bekanntesten Plattformen. Beachte aber, dass Proxy-Browser (wie Opera Mini, Opera Mobile Turbo, UC Browser Mini, Amazon Silk) nicht unterstützt werden.</p>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td></td>
          <th>Chrome</th>
          <th>Firefox</th>
          <th>Safari</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Android</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-muted">k.A.</td>
        </tr>
        <tr>
          <th scope="row">iOS</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 id="desktop-browsers">Desktop-Browser</h3>
  <p>Genauso werden die neuesten Versionen der meisten Desktop-Browser unterstützt.</p>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td></td>
          <th>Chrome</th>
          <th>Firefox</th>
          <th>Internet Explorer</th>
          <th>Opera</th>
          <th>Safari</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Mac</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-muted">k.A.</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
        </tr>
        <tr>
          <th scope="row">Windows</th>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
          <td class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Nicht Unterstützt</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>Auf Windows <strong>unterstützen wir Internet Explorer 8-11</strong>.</p>

  <p>Bei Firefox unterstützen wir zusätzlich zum normalen Stable Release auch die neueste <a href="https://www.mozilla.org/en-US/firefox/organizations/">Extended Support Release (ESR)</a>-Version.</p>

  <p>Inoffiziell sollte Bootstrap in Chromium und Chrome für Linux, Firefox für Linux und Internet Explorer 7 in Ordnung aussehen und funktionieren, aber wir unterstützen diese Browser nicht offiziell.</p>
  <p>Auf unserer <a href="{{ site.baseurl }}/browser-bugs/">Pinnwand für Browser-Bugs</a> findest du einige der Browser-Bugs, mit denen Bootstrap zu kämpfen hat.</p>

  <h2 id="support-ie8-ie9">Internet Explorer 8 und 9</h2>
  <p>Internet Explorer 8 und 9 werden auch unterstützt, aber denk bitte daran, dass einige CSS3-Eigenschaften und HTML5-Elemente in diesen Browsern nicht vollständig unterstützt werden. Außerdem <strong>benötigt Internet Explorer 8 <a href="https://github.com/scottjehl/Respond">Respond.js</a>, um Media-Queries zu verarbeiten.</strong></p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="col-xs-4">Funktion</th>
          <th class="col-xs-4">Internet Explorer 8</th>
          <th class="col-xs-4">Internet Explorer 9</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><code>border-radius</code></th>
          <td class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Nicht unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
        </tr>
        <tr>
          <th scope="row"><code>box-shadow</code></th>
          <td class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Nicht unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt</td>
        </tr>
        <tr>
          <th scope="row"><code>transform</code></th>
          <td class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Nicht unterstützt</td>
          <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unterstützt, mit <code>-ms</code>-Präfix</td>
        </tr>
        <tr>
          <th scope="row"><code>transition</code></th>
          <td colspan="2" class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Nicht unterstützt</td>
        </tr>
        <tr>
          <th scope="row"><code>placeholder</code></th>
          <td colspan="2" class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Nicht unterstützt</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>Besuche <a href="https://caniuse.com/">Can I use...</a> für Details zum Browser-Support für CSS3- und HTML5-Funktionen.</p>

  <h2 id="support-ie8-respondjs">Internet Explorer 8 und Respond.js</h2>
  <p>Pass auf die folgenden Tücken auf, wenn du Respond.js in deinen Entwicklungs- und Produktions-Umgebungen für Internet Explorer 8 verwendest.</p>
  <h3 id="respond-js-x-domain">Respond.js und domainübergreifendes CSS</h3>
  <p>Die Verwendung von Respond.js mit CSS auf anderen (Sub-)Domains (z.B. einem CDN) erfordert zusätzliche Konfiguration. <a href="https://github.com/scottjehl/Respond/blob/master/README.md#cdnx-domain-setup">Lies die Respond.js-Doku</a> für Details dazu.</p>
  <h3 id="respond-file-proto">Respond.js und <code>file://</code></h3>
  <p>Wegen Browser-Sicherheitsregeln funktioniert Respond.js nicht mit Seiten, die über das Protokoll <code>file://</code> aufgerufen werden (z.B. wenn du eine lokale HTML-Datei öffnest). Um responsive Funktionen im IE8 zu testen, zeig deine Seiten über HTTP(S) an. <a href="https://github.com/scottjehl/Respond/blob/master/README.md#support--caveats">Lies die Respond.js-Doku</a> für Details dazu.</p>
  <h3 id="respond-import">Respond.js und <code>@import</code></h3>
  <p>Respond.js funktioniert nicht mit CSS, dass über <code>@import</code> eingebunden wird. Drupal-Konfigurationen sind insbesondere dafür bekannt, <code>@import</code> zu verwenden. <a href="https://github.com/scottjehl/Respond/blob/master/README.md#support--caveats">Lies die Respond.js-Doku</a> für Details dazu.</p>

  <h2 id="support-ie8-box-sizing">Internet Explorer 8 und box-sizing</h2>
  <p>IE8 bietet keine vollständige Untestützung für <code>box-sizing: border-box;</code> wenn es mit <code>min-width</code>, <code>max-width</code>, <code>min-height</code> oder <code>max-height</code> kombiniert wird. Seit v3.0.1 verwenden wir daher keine <code>max-width</code> bei <code>.container</code>n mehr.</p>

  <h2 id="suport-ie8-font-face">Internet Explorer 8 und @font-face</h2>
  <p>IE8 hat einige Probleme mit der Kombination aus <code>@font-face</code> und <code>:before</code>. Bootstrap verwendet diese Kombination für die Glyphicons. Falls eine Seite im Cache (Zwischenspeicher des Browsers) gespeichert und danach geladen wird, ohne dass sich der Mauszeiger über der Seite selbst befindet (z.B. durch Drücken der Neu laden-Taste oder wenn etwas in einem iframe geladen wird), wird das Layout der Seite erzeugt, bevor die Schriftart geladen wird. Wird der Mauszeiger dann über der Seite positioniert, werden zumindest einige Icons nachträglich geladen und die restlichen können ebenfalls geladen werden, indem der Mauszeiger genau über ihnen platziert wird. <a href="https://github.com/twbs/bootstrap/issues/13863">Siehe #13863</a> für Details.</p>

  <h2 id="support-ie-compatibility-modes">IE Compatibility View</h2>
  <p>Bootstrap wird in den alten Internet Explorer Compatibility Views nicht unterstützt. Um sicherzugehen, dass du den neuesten Anzeigemodus für IE verwendest, denk darüber nach, das passende <code>&lt;meta&gt;</code>-Tag auf deinen Seiten anzugeben:</p>
{% highlight html %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endhighlight %}
  <p>Sieh nach, welchen Dokumentenmodus dein IE verwendet, indem du die Entwicklerhilfen öffnest: drücke <kbd>F12</kbd> und sieh dann nach dem "Dokumentenmodus".</p>
  <p>Dieses Tag ist überall in Bootstraps Dokumentation und Beispielen eingebunden, damit die bestmögliche Anzeige in jeder unterstützten Version von Internet Explorer erreicht wird.</p>
  <p>Sieh dir <a href="https://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge">diese StackOverflow-Frage</a> für mehr Informationen an.</p>

  <h2 id="support-ie10-width">Internet Explorer 10 auf Windows 8 und Windows Phone 8</h2>
  <p>Internet Explorer 10 unterscheidet nicht zwischen <strong>Gerätebreite</strong> und <strong>Breite der tatsächlichen Anzeige</strong> und wendet Media-Queries aus Bootstraps CSS daher nicht korrekt an. Normalerweise würdest du einfach diesen CSS-Block einfügen, um das zu beheben:</p>
{% highlight scss %}
@-ms-viewport       { width: device-width; }
{% endhighlight %}
  <p>Leider funktioniert das nicht, da auf Windows Phone 8-Geräten dann eine eher Desktop-mäßige Ansicht statt der schmalen "Smartphone"-Ansicht generiert wird. Um das zu umgehen musst du <strong>das folgende CSS und JavaScript verwenden, bis Microsoft dieses Problem behebt</strong>.</p>
{% highlight scss %}
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
{% endhighlight %}

{% highlight js %}
// Copyright 2014-2015 Twitter, Inc.
// Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement('style')
  msViewportStyle.appendChild(
    document.createTextNode(
      '@-ms-viewport{width:auto!important}'
    )
  )
  document.querySelector('head').appendChild(msViewportStyle)
}
{% endhighlight %}
  <p>Für mehr Informationen und Hilfe bei der Umsetzung, lies <a href="https://timkadlec.com/2013/01/windows-phone-8-and-device-width/">Windows Phone 8 and Device-Width</a>.</p>
  <p>Hinweis: wir verwenden diese Technik in der Bootstraps Dokumentation und Vorlagen als Beispiel.</p>

  <h2 id="support-safari-percentages">Safari-Prozent-Rundung</h2>
  <p>Die Rendering-Engine in Versionen von Safari vor v7.1 für OS X und Safari für iOS v8.0 hat Probleme mit der Anzahl der Dezimalstellen in unseren <code>.col-*-1</code>-Rasterklassen. Falls du also 12 einzelne Rasterspalten hättest, würdest du bemerken, dass diese weniger breit als andere Spaltenreihen erscheinen. Außer dem Updaten von Safari/iOS hast du einige Workaround-Optionen:</p>
  <ul>
    <li>Füge <code>.pull-right</code> zur letzten Spalte hinzu, um diese hart rechts auszurichten</li>
    <li>Verändere deine Prozentwerte manuell, um die Abrundungen in Safari perfekt auszubalancieren (schwieriger als die erste Option)</li>
  </ul>

  <h2 id="support-fixed-position-keyboards">Modals, Navbars und virtuelle Tastaturen</h2>
  <h3>Overflow und Scrolling</h3>
  <p>Unterstützung für <code>overflow: hidden</code> beim <code>&lt;body&gt;</code> ist eher limitiert auf iOS und Android. Aufgrund dessen wird der <code>&lt;body&gt;</code> anfangen zu scrollen, wenn du über den Anfang oder das Ende eines Modals in einem Browser auf diesen Geräten hinausscrollst.</p>
  <h3>Virtuelle Tastaturen</h3>
  <p>Wenn du Eingabefelder in einem Modal oder einer fixierten Navbar verwendest, solltest du beachten, dass iOS einen Anzeigefehler hat, wegen dem die Position von fixierten Elementen nicht aktualisiert wird, wenn sich die virtuelle Tastatur öffnet. Dies kannst du z.B. umgehen, indem du deine Elemente zu <code>position: absolute</code> änderst oder einen Timer auslöst, wenn ein Feld fokussiert wird, um die Position manuell zu korrigieren. Dies wird nicht von Bootstrap geregelt, sondern du musst selbst entscheiden, welche Lösung die beste für deine Anwendung ist.</p>
  <h3>Navbar-Dropdown-Menüs</h3>
  <p>Das <code>.dropdown-backdrop</code>-Element wird auf iOS im Nav nicht verwendet, da z-indexing zu komplex ist. Um Dropdowns in Navbars zu schließen, musst du daher direkt auf das Dropdown-Element (oder <a href="https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile">ein anderes Element, das ein click-Ereignis in iOS auslöst</a>) klicken.</p>

  <h2 id="support-browser-zooming">Browser-Zooming</h2>
  <p>Zoomen auf Seiten kann in manchen Komponenten Anzeigefehler hervorbringen und das in Bootstrap genau so wie im restlichen Web. Abhängig vom Problem können wir es vielleicht beheben (suche zunächst und öffne dann ggf. einen Fehlerbericht auf GitHub). Im Zweifelsfall ignorieren wir diese Fehler aber häufig, weil sie oft keine einfache Lösung haben, sondern nur mit umständlichen Workarounds zu beheben sind.</p>

  <h2 id="support-sticky-hover-mobile"><code>:hover</code>/<code>:focus</code> auf mobilen Geräten</h2>
  <p>Obwohl echtes "Hovering" auf den meisten Touchscreens nicht möglich ist, simulieren die meisten mobilen Browser Hovering-Support und machen <code>:hover</code> "klebrig". Anders gesagt, <code>:hover</code>-Stile werden angewendet, nachdem ein Element angetippt wird und erst wieder entfernt, nachdem der Nutzer auf ein anderes Element tippt. Das kann dazu führen, dass Bootstraps <code>:hover</code>-Status in solchen Browsern unerwünscht "steckenbleibt". Einige mobile Browser behandeln <code>:focus</code> auf ähnliche Weise. Es gibt zurzeit keinen einfachen Workaround für diese Probleme, abgesehen vom gänzlichen Entfernen dieser Stile.</p>

  <h2 id="support-printing">Drucken</h2>
  <p>Sogar in eigenen modernen Browsern kann es Probleme beim Drucken geben.</p>
  <p>Insbesondere verwendet Chrome (ab v32 und unabhängig von Randeinstellungen) eine Anzeigefensterbreite, die weit unter der tatsächlichen Größe des Papiers liegt, wenn es beim Drucken darum geht, die Media-Queries zu aufzuschlüsseln. Dies kann dazu führen, dass beim Druck unerwartet Bootstraps extra-kleines Raster aktiviert wird. <a href="https://github.com/twbs/bootstrap/issues/12078">Siehe #12078 für mehr Details.</a> Vorschläge für den Umgang mit diesem Problem:</p>
  <ul>
    <li>Lass dich auf das XS-Raster ein und stelle sicher, dass deine Seite darauf in Ordnung aussieht.</li>
    <li>Verändere die Werte der <code>@screen-*</code>-Less-Variablen, damit dein Druckerpapier größer als extra-klein eingeschätzt wird.</li>
    <li>Füge eigene Media-Queries hinzu, die die Umbruchpunkte des Rasters nur für den Druck verändern.</li>
  </ul>
  <p>Außerdem veranlassen <code>.container</code> mit fester Breite Safari (Stand: v8.0) dazu, eine ungewöhnlich kleine Schriftgröße beim Drucken zu verwenden. Siehe <a href="https://github.com/twbs/bootstrap/issues/14868">#14868</a> für mehr Details. Ein potentieller Workaround hierfür ist, das folgende CSS hinzuzufügen:</p>
{% highlight css %}
@media print {
  .container {
    width: auto;
  }
}
{% endhighlight %}

  <h2 id="support-android-stock-browser">Android Stock Browser</h2>
  <p>Statt Chrome zu verwenden, kommt bis Android 4.1 (und anscheinend auch bei einigen neueren Versionen) die sogenannte Internet-App als Standard-Browser auf Android-Geräten. Leider ist dieser Browser von Fehlern und Unstimmigkeiten in Bezug auf CSS allgemein behaftet.</p>
  <h3>Auswahlmenüs</h3>
  <p>Der Android Stock Browser wird bei <code>&lt;select&gt;</code>-Elementen die Symbole an der Seite nicht richtig anzeigen, wenn ein <code>border-radius</code> und/oder <code>border</code> vorhanden ist. (Siehe <a href="https://stackoverflow.com/questions/14744437/html-select-box-not-showing-drop-down-arrow-on-android-version-4-0-when-set-with">diese Frage auf StackOverflow</a> für Details.) Verwende den Code-Schnipsel unten, um diese CSS-Eigenschaften im Android Stock Browser zu entfernen und das <code>&lt;select&gt;</code>-Element ohne Stile darzustellen. Der Code analysiert den User Agent, damit Chrome, Safari und Mozilla-Browser nicht beeinträchtigt werden.</p>
{% highlight html %}
<script>
&(function () {
  var nua = navigator.userAgent
  var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
  if (isAndroid) {
    $('select.form-control').removeClass('form-control').css('width', '100%')
  }
})
</script>
{% endhighlight %}
  <p>Willst du ein Beispiel sehen? <a href="https://output.jsbin.com/kuvoz/1">Sieh dir diese Demonstration in einem JS Bin an.</a></p>

  <h2 id="support-validators">Validatoren</h2>
  <p>Um das bestmögliche Ergebnis in alten und fehlerbehafteten Browsern zu bieten, verwendet Bootstrap an mehreren Orten <a href="http://browserhacks.com">CSS-Browser-Hacks</a>, um in bestimmten Browser-Versionen besonderes CSS anzuwenden und so Bugs in den Browsern selbst zu umgehen. Diese Hacks führen verständlicherweise dazu, dass CSS-Validatoren sich darüber beschweren, dass sie ungültig sind. An einigen Stellen verwenden wir außerdem ganz neue CSS-Funktionen, die noch nicht vollständig standardisiert wurden. Dies geschieht ausschließlich zur progressiven Verbesserung.</p>
  <p>Diese Warnungen bei der Validierung spielen in der Praxis keine Rolle, da der Teil unseres CSS ohne Hacks vollständig validiert werden kann und der Teil mit Hacks den anderen Teil in keiner Weise beeinträchtigt. Wir ignorieren diese Warnungen daher mit Absicht.</p>
  <p>Auch unsere HTML-Dokumentation hat einige triviale HTML-Validierungswarnungen ohne Auswirkung, da wir <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=654072">einen bestimmten Firefox-Bug</a> umgehen.</p>
</div>
