<div class="bs-docs-section">
  <h1 id="community" class="page-header">Community</h1>

  <p class="lead">Bleib immer auf dem Laufenden, was die Entwicklung von Bootstrap angeht und verbinde dich über diese hilfreichen Ressourcen mit der Community.</p>
  <ul>
    <li>Lies und abonniere <a href="http://blog.getbootstrap.com/">Das Offizielle Bootstrap Blog</a>.</li>
    <li>Chatte mit anderen Bootstrappern über IRC auf dem <code>irc.freenode.net</code>-Server, im <a href="irc://irc.freenode.net/%23bootstrap">Kanal ##twitter-bootstrap</a>.</li>
    <li>Hilfe bei der Umsetzung deiner Projekte findest du z.B. auf Stack Overflow (markiert mit <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap-3"><code>twitter-bootstrap-3</code></a>).</li>
    <li>Entwickler sollten das Stichwort <code>bootstrap</code> bei Paketen verwenden, die die Funktionen von Bootstrap anpassen oder erweitern, wenn die Pakete über <a href="https://www.npmjs.com/browse/keyword/bootstrap">npm</a> oder ähnliche Mechanismen verbreitet werden, um bestmöglich gefunden werden zu können.</li>
    <li>Lass dich davon inspirieren, was andere Leute mit Bootstrap entwerfen, in der <a href="http://expo.getbootstrap.com">Bootstrap Expo</a>.</li>
  </ul>
  <p>Du kannst außerdem <a href="https://twitter.com/getbootstrap">@getbootstrap auf Twitter</a> für die neuesten Gerüchte und großartige Musikvideos folgen.</p>
</div>
