<div class="bs-docs-section">
  <h1 id="disable-responsive" class="page-header">Responsivität deaktivieren</h1>

  <p class="lead">Bootstrap passt deine Seiten automatisch verschiedenen Bildschirmgrößen an. Hier erfährst du, wie du diese Funktion deaktivieren kannst, so dass deine Seite wie <a href="../examples/non-responsive/">dieses nicht-responsive Beispiel</a> funktioniert.</p>

  <h2>Schritte zur Deaktivierung der Responsivität</h2>
  <ol>
    <li>Entferne das Viewport-<code>&lt;meta&gt;</code>-Tag, das in <a href="../css/#overview-mobile">der CSS-Doku</a> erläutert wird</li>
    <li>Überschreibe die Breite (<code>width</code>) beim <code>.container</code> für jeden Umbruchpunkt des Rasters, z.B. mit <code>width: 970px !important;</code>. Diesen Schnipsel musst du unbedingt nach Bootstraps CSS einfügen. Du kannst optional statt <code>!important</code> verschiedene Media-Queries oder komplizierte Selektoren verwenden.</li>
    <li>Falls du Navbars verwendest, musst du alle Funktionen zum Verbergen und Ausklappen der Navbar entfernen.</li>
    <li>Für Rasterlayouts solltest du zusätzlich zu oder statt den mittleren/großen die <code>.col-xs-*</code>-Klassen verwenden. Keine Sorge, das extra-kleine Raster skaliert sich auf alle Bildschirmgrößen.</li>
  </ol>
  <p>Du brauchst für IE8 nach wie vor Respond.js (da unsere Media-Queries weiterhin vorhanden sind und umgesetzt werden müssen). Durch all diese Schritte werden die Aspekte der "mobilen Seite" von Bootstrap deaktiviert.</p>

  <h2>Bootstrap-Vorlage mit deaktivierter Responsivität</h2>
  <p>Wir haben diese Schritte auf ein Beispiel angewandt. Lies dessen Quelltext, um die genauen Änderungen zu verstehen.</p>
  <p>
    <a href="../examples/non-responsive/" class="btn btn-primary">Nicht-responsives Beispiel anzeigen</a>
  </p>
</div>
