<div class="bs-docs-section">
  <h1 id="examples" class="page-header">Beispiele</h1>

  <p class="lead">Erweitere die Basis-Vorlage oben mit Bootstraps zahlreichen Komponenten. Siehe auch <a href="#customizing">Bootstrap anpassen</a> für Tipps zur Verwaltung deiner eigenen Bootstrap-Varianten.</p>

  <h3 id="examples-framework">Framework-Verwendung</h3>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/starter-template/">
        <img src="../examples/screenshots/starter-template.jpg" alt="">
      </a>
      <h4>Basis-Vorlage</h4>
      <p>Nichts als Grundlagen: kompiliertes CSS und JavaScript mit einem Container.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/theme/">
        <img src="../examples/screenshots/theme.jpg" alt="">
      </a>
      <h4>Bootstrap-Theme</h4>
      <p>Lade das optionale Bootstrap-Theme für erweiterte visuelle Effekte.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/grid/">
        <img src="../examples/screenshots/grid.jpg" alt="">
      </a>
      <h4>Raster</h4>
      <p>Mehrere Beispiele von Raster-Layouts mit allen vier Raster-Gliedern, Verschachtelung und mehr.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/jumbotron/">
        <img src="../examples/screenshots/jumbotron.jpg" alt="">
      </a>
      <h4>Jumbotron</h4>
      <p>Das Jumbotron mit einer Navbar und einigen einfachen Raster-Spalten.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/jumbotron-narrow/">
        <img src="../examples/screenshots/jumbotron-narrow.jpg" alt="">
      </a>
      <h4>Schmales Jumbotron</h4>
      <p>Eine angepasstere Seite mit einem schmaleren Container und Jumbotron.</p>
    </div>
  </div>

  <h3 id="examples-navbars">Navbars in Aktion</h3>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/navbar/">
        <img src="../examples/screenshots/navbar.jpg" alt="">
      </a>
      <h4>Navbar</h4>
      <p>Super-einfache Vorlage mit einer Navbar und etwas Zusatz-Inhalt.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/navbar-static-top/">
        <img src="../examples/screenshots/navbar-static.jpg" alt="">
      </a>
      <h4>Oben statische Navbar</h4>
      <p>Super-einfache Vorlage mit einer oben statischen Navbar und etwas Zusatz-Inhalt.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/navbar-fixed-top/">
        <img src="../examples/screenshots/navbar-fixed.jpg" alt="">
      </a>
      <h4>Fixierte Navbar</h4>
      <p>Super-einfache Vorlage mit einer oben fixierten Navbar und etwas Zusatz-Inhalt.</p>
    </div>
  </div>

  <h3 id="examples-custom">Eigene Komponenten</h3>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/cover/">
        <img src="../examples/screenshots/cover.jpg" alt="">
      </a>
      <h4>Cover</h4>
      <p>Eine einseitige Vorlage für die Erstellung von einfachen und schönen Startseiten.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/carousel/">
        <img src="../examples/screenshots/carousel.jpg" alt="">
      </a>
      <h4>Karussell</h4>
      <p>Navbar und Karussell mit Anpassungen und neuen Komponenten.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/blog/">
        <img src="../examples/screenshots/blog.jpg" alt="">
      </a>
      <h4>Blog</h4>
      <p>Einfaches Zwei-Spalten-Blog-Layout mit eigener Navigation, Kopf und Schrift.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/dashboard/">
        <img src="../examples/screenshots/dashboard.jpg" alt="">
      </a>
      <h4>Dashboard</h4>
      <p>Einfache Struktur für ein Admin-Dashboard mit fixierter Seitenleiste und Navbar.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/signin/">
        <img src="../examples/screenshots/sign-in.jpg" alt="">
      </a>
      <h4>Anmelde-Seite</h4>
      <p>Eigenes Formular-Layout und Design für ein einfaches Anmelde-Formular.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/justified-nav/">
        <img src="../examples/screenshots/justified-nav.jpg" alt="">
      </a>
      <h4>Bündige Navbar</h4>
      <p>Eigene Navbar mit gleichmäßigen Links. Achtung! <a href="../komponenten/#nav-justified">Verträgt sich nicht gut mit WebKit.</a></p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/sticky-footer/">
        <img src="../examples/screenshots/sticky-footer.jpg" alt="">
      </a>
      <h4>Fixierter Footer</h4>
      <p>Einfache Seite mit fixiertem Footer unten im Anzeigefenster.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/sticky-footer-navbar/">
        <img src="../examples/screenshots/sticky-footer-navbar.jpg" alt="">
      </a>
      <h4>Fixierter Footer mit Navbar</h4>
      <p>Einfache Seite mit fixiertem Footer unten und Navbar oben im Anzeigefenster.</p>
    </div>
  </div>

  <h3 id="examples-experiments">Experimente</h3>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/non-responsive/">
        <img src="../examples/screenshots/non-responsive.jpg" alt="">
      </a>
      <h4>Nicht-responsives Bootstrap</h4>
      <p>Deaktiviere die Responsivität von Bootstrap <a href="#disable-responsive">wie hier beschrieben</a>.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/offcanvas/">
        <img src="../examples/screenshots/offcanvas.jpg" alt="">
      </a>
      <h4>Abseits</h4>
      <p>Entwerfe eine Navigation, die sich außerhalb der sichtbaren Seite befindet.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/equal-height-columns/">
        <img src="../examples/screenshots/equal-height-columns.jpg" alt="">
      </a>
      <h4>Spalten mit gleicher Höhe</h4>
      <p>Fügt automatisch gleichhohe Spalten zu Bootstraps Raster-System hinzu.</p>
    </div>
  </div>
</div>
