<div class="bs-docs-section">
  <h1 id="examples" class="page-header">Beispiele</h1>

  <p class="lead">Erweitere die Basis-Vorlage oben mit Bootstraps zahlreichen Komponenten. Wir ermutigen dich dazu, Bootstrap anzupassen, so dass es bestens zu deinem jeweiligen Projekt passt.</p>

  <h2 id="examples-framework">Framework-Verwendung</h2>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/starter-template/">
        <img src="{{ site.baseurl }}/examples/screenshots/starter-template.jpg" alt="Beispiel: Basis-Vorlage">
      </a>
      <h3>Basis-Vorlage</h3>
      <p>Nichts als Grundlagen: kompiliertes CSS und JavaScript mit einem Container.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/theme/">
        <img src="{{ site.baseurl }}/examples/screenshots/theme.jpg" alt="Beispiel: Bootstrap-Theme">
      </a>
      <h3>Bootstrap-Theme</h3>
      <p>Lade das optionale Bootstrap-Theme für erweiterte visuelle Effekte.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/grid/">
        <img src="{{ site.baseurl }}/examples/screenshots/grid.jpg" alt="Beispiel: Rasteroptionen">
      </a>
      <h3>Raster</h3>
      <p>Mehrere Beispiele von Raster-Layouts mit allen vier Raster-Gliedern, Verschachtelung und mehr.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/jumbotron/">
        <img src="{{ site.baseurl }}/examples/screenshots/jumbotron.jpg" alt="Beispiel: Jumbotron">
      </a>
      <h3>Jumbotron</h3>
      <p>Das Jumbotron mit einer Navbar und einigen einfachen Raster-Spalten.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/jumbotron-narrow/">
        <img src="{{ site.baseurl }}/examples/screenshots/jumbotron-narrow.jpg" alt="Beispiel: Schmales Jumbotron">
      </a>
      <h3>Schmales Jumbotron</h3>
      <p>Eine angepasstere Seite mit einem schmaleren Container und Jumbotron.</p>
    </div>
  </div>

  <h2 id="examples-navbars">Navbars in Aktion</h2>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/navbar/">
        <img src="{{ site.baseurl }}/examples/screenshots/navbar.jpg" alt="Beispiel: Navbar">
      </a>
      <h3>Navbar</h3>
      <p>Super-einfache Vorlage mit einer Navbar und etwas Zusatz-Inhalt.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/navbar-static-top/">
        <img src="{{ site.baseurl }}/examples/screenshots/navbar-static.jpg" alt="Beispiel: Oben statische Navbar">
      </a>
      <h3>Oben statische Navbar</h3>
      <p>Super-einfache Vorlage mit einer oben statischen Navbar und etwas Zusatz-Inhalt.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/navbar-fixed-top/">
        <img src="{{ site.baseurl }}/examples/screenshots/navbar-fixed.jpg" alt="Beispiel: Fixierte Navbar">
      </a>
      <h3>Fixierte Navbar</h3>
      <p>Super-einfache Vorlage mit einer oben fixierten Navbar und etwas Zusatz-Inhalt.</p>
    </div>
  </div>

  <h2 id="examples-custom">Eigene Komponenten</h2>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/cover/">
        <img src="{{ site.baseurl }}/examples/screenshots/cover.jpg" alt="Beispiel: Template mit nur einer Seite">
      </a>
      <h3>Cover</h3>
      <p>Eine einseitige Vorlage für die Erstellung von einfachen und schönen Startseiten.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/carousel/">
        <img src="{{ site.baseurl }}/examples/screenshots/carousel.jpg" alt="Beispiel: Karussell">
      </a>
      <h3>Karussell</h3>
      <p>Navbar und Karussell mit Anpassungen und neuen Komponenten.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/blog/">
        <img src="{{ site.baseurl }}/examples/screenshots/blog.jpg" alt="Beispiel: Blog-Layout">
      </a>
      <h3>Blog</h3>
      <p>Einfaches Zwei-Spalten-Blog-Layout mit eigener Navigation, Kopf und Schrift.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/dashboard/">
        <img src="{{ site.baseurl }}/examples/screenshots/dashboard.jpg" alt="Beispiel: Dashboard">
      </a>
      <h3>Dashboard</h3>
      <p>Einfache Struktur für ein Admin-Dashboard mit fixierter Seitenleiste und Navbar.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/signin/">
        <img src="{{ site.baseurl }}/examples/screenshots/sign-in.jpg" alt="Beispiel: Anmelde-Seite">
      </a>
      <h3>Anmelde-Seite</h3>
      <p>Eigenes Formular-Layout und Design für ein einfaches Anmelde-Formular.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/justified-nav/">
        <img src="{{ site.baseurl }}/examples/screenshots/justified-nav.jpg" alt="Beispiel: Bündige Navbar">
      </a>
      <h3>Bündige Navbar</h3>
      <p>Eigene Navbar mit gleichmäßigen Links. Achtung! <a href="{{ site.baseurl }}/komponenten/#nav-justified">Verträgt sich nicht gut mit Safari.</a></p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/sticky-footer/">
        <img src="{{ site.baseurl }}/examples/screenshots/sticky-footer.jpg" alt="Beispiel: Fixierter Footer">
      </a>
      <h3>Fixierter Footer</h3>
      <p>Einfache Seite mit fixiertem Footer unten im Anzeigefenster.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/sticky-footer-navbar/">
        <img src="{{ site.baseurl }}/examples/screenshots/sticky-footer-navbar.jpg" alt="Beispiel: Fixierter Footer mit Navbar">
      </a>
      <h3>Fixierter Footer mit Navbar</h3>
      <p>Einfache Seite mit fixiertem Footer unten und Navbar oben im Anzeigefenster.</p>
    </div>
  </div>

  <h2 id="examples-experiments">Experimente</h2>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/non-responsive/">
        <img src="{{ site.baseurl }}/examples/screenshots/non-responsive.jpg" alt="Beispiel: Nicht-responsives Bootstrap">
      </a>
      <h3>Nicht-responsives Bootstrap</h3>
      <p>Deaktiviere die Responsivität von Bootstrap <a href="#disable-responsive">wie hier beschrieben</a>.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="{{ site.baseurl }}/examples/offcanvas/">
        <img src="{{ site.baseurl }}/examples/screenshots/offcanvas.jpg" alt="Beispiel: Navigation im Abseits">
      </a>
      <h3>Off-canvas</h3>
      <p>Entwerfe eine Navigation, die sich außerhalb der sichtbaren Seite befindet.</p>
    </div>
  </div>
</div>
