<div class="bs-docs-section">
  <h1 id="license-faqs" class="page-header">Lizenz-FAQs</h1>
  <p class="lead">Bootstrap wird unter der MIT-Lizenz freigegeben und ist Copyright {{ site.time | date: "%Y" }} Twitter. Kurz zusammengefasst, lässt sich dies mit den folgenden Bedingungen beschreiben.</p>

  <h2>Du musst:</h2>
  <ul>
    <li>Die Lizenz und Copyright-Informationen, die in Bootstraps CSS- und JavaScript-Dateien enthalten sind, beibehalten, wenn du sie in deinen Werken verwendest</li>
  </ul>

  <h2>Du darfst:</h2>
  <ul>
    <li>Bootstrap frei und gratis herunterladen und verwenden, und zwar ganz oder in Teilen, für persönliche, private, interne Unternehmens- und kommerzielle Zwecke</li>
    <li>Bootstrap in Paketen und Distributionen verwenden, die du erstellst</li>
    <li>Den Quelltext verändern</li>
    <li>Eine Unterlizenz zur Bearbeitung und Verbreitung von Bootstrap an Dritte vergeben, die in dieser Lizenz nicht erwähnt werden</li>
  </ul>

  <h2>Du darfst auf keinen Fall:</h2>
  <ul>
    <li>Die Autoren oder Lizenzgeber für Schäden haften lassen bzw. verantwortlich machen, da Bootstrap ohne Gewähr zur Verfügung gestellt wird</li>
    <li>Die Ersteller und Copyright-Eigentümer von Bootstrap haftbar machen</li>
    <li>Einen Teil von Bootstrap ohne vernünftige Attribution weiterverbreiten</li>
    <li>Markenzeichen im Besitz von Twitter in einer Weise nutzen, die aussagen oder implizieren könnte, dass Twitter deine Distribution befürwortet</li>
    <li>Markenzeichen im Besitz von Twitter in einer Weise nutzen, die aussagen oder implizieren könnte, dass du diese Twitter-Software erstellt hast</li>
  </ul>

  <h2>Du musst nicht unbedingt:</h2>
  <ul>
    <li>Die Quelle von Bootstrap selbst, oder von irgendwelchen Modifizierungen, die du evtl. vorgenommen hast, in einer von dir möglicherweise erstellten Redistribution, die Bootstrap oder Teile davon enthält, einbeziehen</li>
    <li>Änderungen, die du an Bootstrap vornimmst, zurück an das Bootstrap-Projekt leiten (obwohl wir uns darüber sehr freuen würden)</li>
  </ul>

  <p>Die eigentliche vollständige Lizenz von Bootstrap findest du <a href="{{ site.repo }}/blob/master/LICENSE">im Repository des Projekts auf GitHub</a> für mehr Informationen.</p>
</div>
