<div class="bs-docs-section">
  <h1 id="tools" class="page-header">Tools</h1>

  <h2 id="tools-bootlint">Bootlint</h2>
  <p><strong><a href="https://github.com/twbs/bootlint">Bootlint</a></strong> ist das offizielle Tool zum <a href="https://de.wikipedia.org/wiki/Lint_(Programmierwerkzeug)">Linten</a> von Bootstrap-HTML. Es sucht automatisch nach einigen häufigen HTML-Fehlern in Webseiten, die Bootstrap einigermaßen "pur" verwenden. Die Komponenten/Widgets in Bootstraps Original erfordern, dass ihr Markup sich im DOM an bestimmte Strukturen hält. Bootlint überprüft, dass Bootstrap-Komponenten in der Seite korrekt strukturiertes HTML haben. Füge Bootlint zu deinen Web-Entwicklungswerkzeugen hinzu, wenn du verhindern möchtest, dass häufige Fehler die Entwicklung deines Projekts verlangsamen.</p>
</div>
