<div class="bs-docs-section">
  <h1 id="translations" class="page-header">Übersetzungen</h1>

  <p class="lead">Mitglieder der Community haben Bootstraps Dokumentation in verschiedene Sprachen übersetzt. Keine davon sind offiziell unterstützt (auch diese nicht) und die Übersetzungen sind unter Umständen nicht immer aktuell.</p>
  <ul>
    {% for language in site.data.translations %}
      <li><a href="{{ language.url }}" hreflang="{{ language.code }}">{{ language.description }} ({{ language.name }})</a></li>
    {% endfor %}
  </ul>
  <p><strong class="text-danger">Wir helfen nicht bei Organisation und Hosting von Übersetzungen, sondern verlinken nur auf diese.</strong></p>
  <p>Du hast eine neue oder bessere Übersetzung erstellt? Öffne einen Pull Request, um sie zu unserer Liste hinzuzufügen.</p>
  <p>Du möchtest lieber die in jedem Fall aktuellste und zuverlässigste, offizielle Dokumentation auf Englisch lesen? <a href="https://getbootstrap.com">Hier entlang bitte.</a></p>
</div>
