<div class="bs-docs-section">
  <h1 id="forms" class="page-header">Formulare</h1>

  <h2 id="forms-example">Einfaches Beispiel</h2>
  <p>Einzelne Formular-Felder erhalten automatisch einige globale Stile. Alle text-basierten <code>&lt;input&gt;</code>-, <code>&lt;textarea&gt;</code>- und <code>&lt;select&gt;</code>-Elemente mit der Klasse <code>.form-control</code> bekommen standardmäßig <code>width: 100%;</code> und nehmen die ganze Breite ihres übergeordneten Elements ein. Für optimale Abstände solltest Labels und Felder jeweils in <code>.form-group</code> verpacken.</p>
  <div class="bs-example" data-example-id="basic-forms">
    <form>
      <div class="form-group">
        <label for="beispielFeldEmail1">Email-Adresse</label>
        <input type="email" class="form-control" id="beispielFeldEmail1" placeholder="Email-Adresse">
      </div>
      <div class="form-group">
        <label for="beispielFeldPasswort1">Passwort</label>
        <input type="password" class="form-control" id="beispielFeldPasswort1" placeholder="Passwort">
      </div>
      <div class="form-group">
        <label for="beispielFeldDatei">Anhang</label>
        <input type="file" id="beispielFeldDatei">
        <p class="help-block">Beispiel-Text-Block mit Hilfestellungen zum Ausfüllen des Formulars.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Wo ist der Haken?
        </label>
      </div>
      <button type="submit" class="btn btn-default">Abschicken</button>
    </form>
  </div><!-- /example -->
{% highlight html %}
<form>
  <div class="form-group">
    <label for="beispielFeldEmail1">Email-Adresse</label>
    <input type="email" class="form-control" id="beispielFeldEmail1" placeholder="Email-Adresse">
  </div>
  <div class="form-group">
    <label for="beispielFeldPasswort1">Passwort</label>
    <input type="password" class="form-control" id="beispielFeldPasswort1" placeholder="Passwort">
  </div>
  <div class="form-group">
    <label for="beispielFeldDatei">Anhang</label>
    <input type="file" id="beispielFeldDatei">
    <p class="help-block">Beispiel-Text-Block mit Hilfestellungen zum Ausfüllen des Formulars.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Wo ist der Haken?
    </label>
  </div>
  <button type="submit" class="btn btn-default">Abschicken</button>
</form>
{% endhighlight %}
  <div class="bs-callout bs-callout-warning" id="callout-formgroup-inputgroup">
    <h4>Vermische niemals Formular-Gruppen mit Input-Gruppen</h4>
    <p>Du solltest Formular-Gruppen (<code>.form-group</code>) nicht direkt mit <a href="/komponenten/#input-groups">Input-Gruppen</a> kombinieren. Ordne die Input-Gruppe stattdessen der Formular-Gruppe unter.</p>
  </div>


  <h2 id="forms-inline">Formular in einer Zeile</h2>
  <p>Füge <code>.form-inline</code> zu deinem Formular hinzu (das kein <code>&lt;form&gt;</code> sein muss), um die Felder links in einer Reihe auszurichten (inline-block). <strong>Dies hat nur Auswirkungen auf Formular auf Anzeigefenstern, die mindestens 768px breit sind.</strong></p>
  <div class="bs-callout bs-callout-danger" id="callout-inline-form-width">
    <h4>Benötigt evtl. manuelle Breiten</h4>
    <p>Eingabefelder und Auswahlfelder sind in Bootstrap standardmäßig mit <code>width: 100%</code> versehen. In Inline-Formularen setzen wir das auf <code>width: auto</code> zurück, damit mehrere Felder in der gleichen Zeile sein können. Abhängig von deinem Layout sind eventuell zusätzliche, manuelle Breiten notwendig.</p>
  </div>
  <div class="bs-callout bs-callout-warning" id="callout-inline-form-labels">
    <h4>Füge immer Labels hinzu</h4>
    <p>Screenreader werden Probleme mit deinen Formularen haben, wenn du nicht für jedes Feld ein Label einfügst. Du kannst solche Labels für diese Inline-Formulare verbergen, indem du die <code>.sr-only</code>-Klasse verwendest. Es gibt weitere alternative Methoden, um ein Label für assistiven Technologien bereitzustellen, wie z.B. die Attribute <code>aria-label</code>, <code>aria-labelledby</code> oder <code>title</code>. Falls keins davon vorhanden ist, verwenden Screenreader evtl. das Attribut <code>placeholder</code>, falls vorhanden, aber die Verwendung von <code>placeholder</code> als Ersatz für andere Labelling-Methoden wird nicht empfohlen.</p>
  </div>

  <div class="bs-example" data-example-id="simple-form-inline">
    <form class="form-inline">
      <div class="form-group">
        <label for="beispielFeldName2">Name</label>
        <input type="text" class="form-control" id="beispielFeldName2" placeholder="Marie Mustermann">
      </div>
      <div class="form-group">
        <label for="beispielFeldEmail2">Email</label>
        <input type="email" class="form-control" id="beispielFeldEmail2" placeholder="m.mustermann@beispiel.de">
      </div>
      <button type="submit" class="btn btn-default">Einladung senden</button>
    </form>
  </div><!-- /example -->
{% highlight html %}
<form class="form-inline">
  <div class="form-group">
    <label for="beispielFeldName2">Name</label>
    <input type="text" class="form-control" id="beispielFeldName2" placeholder="Marie Mustermann">
  </div>
  <div class="form-group">
    <label for="beispielFeldEmail2">Email</label>
    <input type="email" class="form-control" id="beispielFeldEmail2" placeholder="m.mustermann@beispiel.de">
  </div>
  <button type="submit" class="btn btn-default">Einladung senden</button>
</form>
{% endhighlight %}

  <div class="bs-example" data-example-id="simple-form-inline">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="beispielFeldEmail3">Email-Adresse</label>
        <input type="email" class="form-control" id="beispielFeldEmail3" placeholder="Email-Adresse">
      </div>
      <div class="form-group">
        <label class="sr-only" for="beispielFeldPasswort3">Passwort</label>
        <input type="password" class="form-control" id="beispielFeldPasswort3" placeholder="Passwort">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Anmeldung speichern
        </label>
      </div>
      <button type="submit" class="btn btn-default">Anmelden</button>
    </form>
  </div><!-- /example -->
{% highlight html %}
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="beispielFeldEmail3">Email-Adresse</label>
    <input type="email" class="form-control" id="beispielFeldEmail3" placeholder="Email-Adresse">
  </div>
  <div class="form-group">
    <label class="sr-only" for="beispielFeldPasswort3">Passwort</label>
    <input type="password" class="form-control" id="beispielFeldPasswort3" placeholder="Passwort">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Anmeldung speichern
    </label>
  </div>
  <button type="submit" class="btn btn-default">Anmelden</button>
</form>
{% endhighlight %}

  <div class="bs-example" data-example-id="form-inline-with-input-group">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="beispielFeldSumme">Summe (in Euro)</label>
        <div class="input-group">
          <div class="input-group-addon">€</div>
          <input type="text" class="form-control" id="beispielFeldSumme" placeholder="Summe">
          <div class="input-group-addon">,00</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Geld senden</button>
    </form>
  </div><!-- /example -->
{% highlight html %}
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="beispielFeldSumme">Summe (in Euro)</label>
    <div class="input-group">
      <div class="input-group-addon">€</div>
      <input type="text" class="form-control" id="beispielFeldSumme" placeholder="Summe">
      <div class="input-group-addon">,00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Geld senden</button>
</form>
{% endhighlight %}

  <h2 id="forms-horizontal">Horizontales Formular</h2>
  <p>Verwende Bootstraps vordefinierte Raster-Klassen, um Labels und mehrere Formularfelder (<code>.form-control</code>s) in einem horizontalen Layout anzulegen. Dazu musst du zunächst <code>.form-horizontal</code> zu deinem Formular (das kein <code>&lt;form&gt;</code> sein muss) hinzufügen. <code>.form-group</code>s verhalten sich dadurch wie Raster-Zeilen, so dass wir <code>.row</code> nicht brauchen.</p>
  <div class="bs-example" data-example-id="simple-horizontal-form">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="eingabefeldEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="eingabefeldEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="eingabefeldPasswort3" class="col-sm-2 control-label">Passwort</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="eingabefeldPasswort3" placeholder="Passwort">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Anmeldung speichern
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Anmelden</button>
        </div>
      </div>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<form class="form-horizontal">
  <div class="form-group">
    <label for="eingabefeldEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="eingabefeldEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="eingabefeldPasswort3" class="col-sm-2 control-label">Passwort</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="eingabefeldPasswort3" placeholder="Passwort">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Anmeldung speichern
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Anmelden</button>
    </div>
  </div>
</form>
{% endhighlight %}


  <h2 id="forms-controls">Verfügbare Felder</h2>
  <p>Beispiele von Standard-Formular-Feldern, die von Bootstrap unterstüzt werden.</p>

  <h3>Inputs</h3>
  <p>Das häufigste Formularfeld, text-basierte Eingabefelder. Bietet Unterstützung für alle HTML5-Typen: <code>text</code>, <code>password</code>, <code>datetime</code>, <code>datetime-local</code>, <code>date</code>, <code>month</code>, <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>, <code>url</code>, <code>search</code>, <code>tel</code> und <code>color</code>.</p>
  <div class="bs-callout bs-callout-danger" id="callout-input-needs-type">
    <h4>Typ-Benennung erforderlich</h4>
    <p>Eingabefelder werden nur vollständig gestaltet, wenn ihr <code>type</code> vernünftig angegeben wird.</p>
  </div>
  <div class="bs-example" data-example-id="text-form-control">
    <form>
      <input type="text" class="form-control" placeholder="Text-Feld">
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<input type="text" class="form-control" placeholder="Text-Feld">
{% endhighlight %}
  <div class="bs-callout bs-callout-info" id="callout-xref-input-group">
    <h4>Input-Gruppen</h4>
    <p>Um Text oder Buttons vor und/oder nach irgendeinem text-basierten <code>&lt;input&gt;</code> hinzuzufügen, <a href="{{ site.baseurl }}/komponenten/#input-groups">sieh dir doch mal Input-Gruppen an</a>.</p>
  </div>

  <h3>Text-Fläche</h3>
  <p>Formular-Feld, in das mehrere Zeilen Text eingegeben werden können. Veränder das <code>rows</code>-Attribut so wie es für dich am besten passt.</p>
  <div class="bs-example" data-example-id="textarea-form-control">
    <form>
      <textarea class="form-control" rows="3" placeholder="Text-Fläche"></textarea>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<textarea class="form-control" rows="3"></textarea>
{% endhighlight %}

  <h3>Optionsfelder</h3>
  <p>Felder zum Ankreuzen (checkbox) sind dazu da, eine oder mehr Optionen aus einer Liste auszuwählen, während man mit runden Optionsfeldern (radio) eine von mehrere Optionen auswählt.</p>
  <p>Eine Checkbox oder ein Radio-Button mit dem Attribut <code>disabled</code> wird als deaktiviert gestaltet. Damit auch beim <code>&lt;label&gt;</code> für das entsprechende Feld ein "not-allowed"-Cursor angezeigt wird, wenn der Nutzer den Mauszeiger darüber hält, füge die Klasse <code>.disabled</code> zu deinen Elementen mit den Klassen <code>.radio</code>, <code>.radio-inline</code>, <code>.checkbox</code> oder <code>.checkbox-inline</code> oder zu einem <code>&lt;fieldset&gt;</code> hinzu.</p>
  <h4>Standard (übereinander)</h4>
  <div class="bs-example" data-example-id="block-checkboxes-radios">
    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Die erste Option ist dies und das&mdash;denk daran, zu sagen, warum es toll ist!
        </label>
      </div>
      <div class="checkbox disabled">
        <label>
          <input type="checkbox" value="">
          Die zweite Option ist deaktiviert
        </label>
      </div>
      <br>
      <div class="radio">
        <label>
          <input type="radio" name="optionsfeldRadio" id="optionsfeldRadio1" value="option1" checked>
          Die erste Option ist dies und das&mdash;denk daran, zu sagen, warum es toll ist!
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsfeldRadio" id="optionsfeldRadio2" value="option2">
          Die zweite Option ist etwas anderes und wenn du sie auswählst, wird die erste abgewählt.
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsfeldRadio" id="optionsfeldRadio3" value="option3" checked>
          Die dritte Option ist deaktiviert
        </label>
      </div>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Die erste Option ist dies und das&mdash;denk daran, zu sagen, warum es toll ist!
  </label>
</div>
<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="">
    Die zweite Option ist deaktiviert
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="optionsfeldRadio" id="optionsfeldRadio1" value="option1" checked>
    Die erste Option ist dies und das&mdash;denk daran, zu sagen, warum es toll ist!
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsfeldRadio" id="optionsfeldRadio2" value="option2">
    Die zweite Option ist etwas anderes und wenn du sie auswählst, wird die erste abgewählt.
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsfeldRadio" id="optionsfeldRadio3" value="option3" checked>
    Die dritte Option ist deaktiviert
  </label>
</div>
{% endhighlight %}

  <h4>Optionsfelder in einer Zeile</h4>
  <p>Verwende <code>.checkbox-inline</code> oder <code>.radio-inline</code>, um eine Reihe von Checkboxen oder Radios nebeneinander anzuzeigen.</p>
  <div class="bs-example" data-example-id="inline-checkboxes-radios">
    <form>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
      </label>
    </form>
    <br>
    <form>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptionen" id="inlineRadio1" value="option1"> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptionen" id="inlineRadio2" value="option2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptionen" id="inlineRadio3" value="option3"> 3
      </label>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
</label>

<label class="radio-inline">
  <input type="radio" name="inlineRadioOptionen" id="inlineRadio1" value="option1"> 1
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptionen" id="inlineRadio2" value="option2"> 2
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptionen" id="inlineRadio3" value="option3"> 3
</label>
{% endhighlight %}

  <h4>Auswahlfelder ohne Labeltext</h4>
  <p>Falls du keinen Text im <code>&lt;label&gt;</code> hast, wird das Auswahlfeld trotzdem allen Erwartungen entsprechend positioniert. <strong>Funktioniert aktuell nur mit Auswahlfeldern, die nicht zusammen in einer Zeile stehen.</strong> Denk daran, trotzdem irgendeine Art von Label für assistive Technologien zur Verfügung zu stellen (z.B. mit Hilfe von <code>aria-label</code>).</p>
  <div class="bs-example" data-example-id="checkboxes-radios-without-labels">
    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="blankoCheckbox" value="option1" aria-label="Checkbox ohne Labeltext">
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="blankoRadio" id="blankoRadio1" value="option1" aria-label="Radio-Button ohne Labeltext">
        </label>
      </div>
    </form>
  </div>
{% highlight html %}
<div class="checkbox">
  <label>
    <input type="checkbox" id="blankoCheckbox" value="option1" aria-label="...">
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="blankoRadio" id="blankoRadio1" value="option1" aria-label="...">
  </label>
</div>
{% endhighlight %}

  <h3>Auswahlmenüs</h3>
  <p>Beachte, dass viele eingebaute Auswahlmenüs, nämlich in Safari und Chrome, abgerundete Ecken haben, die über die <code>border-radius</code>-Eigenschaften nicht verändert werden können.</p>
  <div class="bs-example" data-example-ids="select-form-control">
    <form>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
{% endhighlight %}

  <p>In <code>&lt;select&gt;</code>-Schaltflächen mit dem Attribut <code>multiple</code> werden standardmäßig mehrere Optionen angezeigt.</p>

  <div class="bs-example" data-example-ids="select-multiple-form-control">
    <form>
      <select multiple class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </form>
  </div><!-- /.bs-example -->

{% highlight html %}
<select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
{% endhighlight %}


  <h2 id="forms-controls-static">Statisches Feld</h2>
  <p>Wenn du puren Text in einem Formular platzieren willst, kannst du die Klasse <code>.form-control-static</code> an einem <code>&lt;p&gt;</code> verwenden.</p>
  <div class="bs-example" data-example-id="horizontal-static-form-control">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <p class="form-control-static">email@example.com</p>
        </div>
      </div>
      <div class="form-group">
        <label for="eingabefeldPasswort" class="col-sm-2 control-label">Passwort</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="eingabefeldPasswort" placeholder="Passwort">
        </div>
      </div>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <p class="form-control-static">email@example.com</p>
    </div>
  </div>
  <div class="form-group">
    <label for="eingabefeldPasswort" class="col-sm-2 control-label">Passwort</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="eingabefeldPasswort" placeholder="Passwort">
    </div>
  </div>
</form>
{% endhighlight %}
  <div class="bs-example" data-example-id="inline-static-form-control">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only">Email</label>
        <p class="form-control-static">email@example.com</p>
      </div>
      <div class="form-group">
        <label for="eingabefeldPasswort2" class="sr-only">Passwort</label>
        <input type="password" class="form-control" id="eingabefeldPasswort2" placeholder="Passwort">
      </div>
      <button type="submit" class="btn btn-default">Identität bestätigen</button>
    </form>
  </div>
{% highlight html %}
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only">Email</label>
    <p class="form-control-static">email@example.com</p>
  </div>
  <div class="form-group">
    <label for="eingabefeldPasswort2" class="sr-only">Passwort</label>
    <input type="password" class="form-control" id="eingabefeldPasswort2" placeholder="Passwort">
  </div>
  <button type="submit" class="btn btn-default">Identität bestätigen</button>
</form>
{% endhighlight %}

  <h2 id="forms-control-focus">Fokus-Ansicht</h2>
  <p>Wir entfernen die Standard-Umrahmung (<code>outline</code>) von einigen Formularfeldern und wenden stattdessen einen Schatten (<code>box-shadow</code>) an, wenn das Feld fokussiert ist (<code>:focus</code>).</p>
  <div class="bs-example">
    <form>
      <input class="form-control" id="fokussiertesFeld" type="text" value="Demonstrative Fokus-Ansicht">
    </form>
  </div>
  <div class="bs-callout bs-callout-info" id="callout-focus-demo">
    <h4>Demonstrative <code>:focus</code>-Ansicht</h4>
    <p>Das obige Beispiel wird manuell so gestaltet, dass es so aussieht wie ein fokussiertes Formular-Element. Diese manuellen Stile sind nicht in Bootstrap, sondern nur in dieser Dokumentation enthalten.</p>
  </div>


  <h2 id="forms-control-disabled">Deaktivierte Ansicht</h2>
  <p>Füge das Boolean-Attribut <code>disabled</code> zu einem Feld hinzu, um Benutzerinteraktionen zu verhindern. Deaktivierte Eingabefelder sind etwas heller und fügen einen <code>not-allowed</code>-Cursor hinzu.</p>
  <div class="bs-example" data-example-id="text-form-control-disabled">
    <form>
      <input class="form-control" id="deaktiviertesFeld" type="text" placeholder="Deaktivierter Platzhalter-Text." disabled>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<input class="form-control" id="deaktiviertesFeld" type="text" placeholder="Deaktivierter Platzhalter-Text." disabled>
{% endhighlight %}

  <h3 id="forms-disabled-fieldsets">Deaktivierte Fieldsets</h3>
  <p>Füge das Attribut <code>disabled</code> zu einem <code>&lt;fieldset&gt;</code> hinzu, um alle Felder darin auf einmal zu deaktivieren.</p>

  <div class="bs-callout bs-callout-warning" id="callout-fieldset-disabled-pointer-events">
    <h4>Besonderheiten der Link-Funktionalität von <code>&lt;a&gt;</code></h4>
    <p>Browser behandeln standardmäßig alle eingebauten Formularelemente (<code>&lt;input&gt;</code>, <code>&lt;select&gt;</code> und <code>&lt;button&gt;</code>-Elemente) in einem <code>&lt;fieldset disabled&gt;</code> als deaktiviert und verhindern sowohl Tastatur- als auch Maus-Interaktionen mit diesen. Falls dein Formular allerdings auch <code>&lt;a ... class="btn btn-*"&gt;</code>-Elemente enthält, erhalten diese einfach nur den Stil <code>pointer-events: none</code>. Wie im Abschnitt über die <a href="#buttons-disabled">deaktivierte Ansicht für Buttons</a> (und ausdrücklich im Unterabschnitt für Anchor-Elemente) erklärt, ist diese CSS-Eigenschaft noch nicht standardisiert und wird in Opera 18 und älter oder in Internet Explorer 11 nicht vollständig unterstützt, und wird daher Tastatur-Nutzer nicht daran hindern, diese Links fokussieren oder aktivieren zu können. Um ganz sicherzugehen, solltest du daher eigenes JavaScript verwenden, um solche Links zu deaktivieren.</p>
  </div>

  <div class="bs-callout bs-callout-danger" id="callout-fieldset-disabled-ie">
    <h4>Browser-Kompatibilität</h4>
    <p>Obwohl Bootstrap diese Stile in allen Browsern anwendet, unterstützen Internet Explorer 11 und ältere Versionen das Attribut <code>disabled</code> bei einem <code>&lt;fieldset&gt;</code> nicht vollständig. Verwende eigenes JavaScript, um die Interaktion mit Elementen in einem Fieldset in diesen Browsern zu deaktivieren.</p>
  </div>

  <div class="bs-example" data-example-id="disabled-fieldset">
    <form>
      <fieldset disabled>
        <div class="form-group">
          <label for="deaktiviertesEingabefeld">Deaktiviertes Feld</label>
          <input type="text" id="deaktiviertesEingabefeld" class="form-control" placeholder="Deaktiviertes Feld">
        </div>
        <div class="form-group">
          <label for="deaktiviertesAuswahlfeld">Deaktivierte Auswahl</label>
          <select id="deaktiviertesAuswahlfeld" class="form-control">
            <option>Deaktiviertes Menü</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Hier gibt es keinen Haken
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Abschicken</button>
      </fieldset>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<form>
  <fieldset disabled>
    <div class="form-group">
      <label for="deaktiviertesEingabefeld">Deaktiviertes Feld</label>
      <input type="text" id="deaktiviertesEingabefeld" class="form-control" placeholder="Deaktiviertes Feld">
    </div>
    <div class="form-group">
      <label for="deaktiviertesAuswahlfeld">Deaktivierte Auswahl</label>
      <select id="deaktiviertesAuswahlfeld" class="form-control">
        <option>Deaktiviertes Menü</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Hier gibt es keinen Haken
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Abschicken</button>
  </fieldset>
</form>
{% endhighlight %}


  <h2 id="forms-control-readonly">Nur-Lesen-Ansicht</h2>
  <p>Füge das Boolean-Attribut <code>readonly</code> zu einem Formularfeld hinzu, um zu verhindern, dass der Wert des Felds verändert wird. Nur-Lesen-Felder sind etwas heller (genau wie deaktivierte Felder), behalten aber ihren normalen Cursor.</p>
  <div class="bs-example" data-example-id="readonly-text-form-control">
    <form>
      <input class="form-control" type="text" placeholder="Mich bitte nur lesen…" readonly>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<input class="form-control" type="text" placeholder="Mich bitte nur lesen…" readonly>
{% endhighlight %}


    <h2 id="forms-control-validation">Formular-Überprüfung</h2>
  <p>Bootstrap beinhaltet Stile für Fehler-, Warnung- und Erfolg-Rückmeldungen bei Formularfeldern. Um sie zu verwenden, füge <code>.has-warning</code>, <code>.has-error</code> oder <code>.has-success</code> zum übergeordneten Element hinzu. Alle <code>.control-label</code>, <code>.form-control</code> und <code>.help-block</code> in diesem Element werden dann die Rückmeldungs-Stile erhalten.</p>

  <div class="bs-callout bs-callout-warning" id="callout-form-validation-state-accessibility">
    <h4>Validierungsstatus an assistive Technologien und farbenblinde Nutzer vermitteln</h4>
    <p>Die Verwendung dieser Validierungsstile zur Bezeichnung des Status eines Formularelements führt nur zu einem visuellen, farbbasierten Hinweis, der Nutzern von assistiven Technologien - wie Screenreadern - oder farbenblinden Nutzern nicht vermittelt wird.</p>
    <p>Sorge dafür, dass ein alternativer Hinweis auf den Status ebenfalls bereitgestellt wird. Zum Beispiel kannst du im Text des <code>&lt;label&gt;</code> des jeweiligen Formularelements selbst auf den Status hinweisen (wie im folgenden Beispiel), ein <a href="{{ site.baseurl }}/components/#glyphicons">Glyphicon</a> (mit angemessenem alternativen Text innerhalb der Klasse <code>.sr-only</code> - siehe die <a href="{{ site.baseurl }}/components/#glyphicons-examples">Glyphicon-Beispiele) hinzufügen, oder einen zusätzlichen <a href="#forms-help-text">Hilfetextblock</a> zur Verfügung stellen. Für assistive Technologien im Besonderen können ungültige Formularfelder ein Attribut <code>aria-invalid="true"</code> zugewiesen bekommen.</p>
  </div>

  <div class="bs-example" data-example-id="form-validation-states">
    <form>
      <div class="form-group has-success">
        <label class="control-label" for="eingabefeldErfolg1">Feld mit Erfolg</label>
        <input type="text" class="form-control" id="eingabefeldErfolg1">
      </div>
      <div class="form-group has-warning">
        <label class="control-label" for="eingabefeldWarnung1">Feld mit Warnung</label>
        <input type="text" class="form-control" id="eingabefeldWarnung1">
      </div>
      <div class="form-group has-error">
        <label class="control-label" for="eingabefeldFehler1">Feld mit Fehler</label>
        <input type="text" class="form-control" id="eingabefeldFehler1">
      </div>
      <div class="has-success">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="ankreuzfeldErfolg" value="option1">
            Ankreuzfeld mit Erfolg
          </label>
        </div>
      </div>
      <div class="has-warning">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="ankreuzfeldWarnung" value="option1">
            Ankreuzfeld mit Warnung
          </label>
        </div>
      </div>
      <div class="has-error">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="ankreuzfeldFehler" value="option1">
            Ankreuzfeld mit Fehler
          </label>
        </div>
      </div>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<div class="form-group has-success">
  <label class="control-label" for="eingabefeldErfolg1">Feld mit Erfolg</label>
  <input type="text" class="form-control" id="eingabefeldErfolg1">
</div>
<div class="form-group has-warning">
  <label class="control-label" for="eingabefeldWarnung1">Feld mit Warnung</label>
  <input type="text" class="form-control" id="eingabefeldWarnung1">
</div>
<div class="form-group has-error">
  <label class="control-label" for="eingabefeldFehler1">Feld mit Fehler</label>
  <input type="text" class="form-control" id="eingabefeldFehler1">
</div>
<div class="has-success">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="ankreuzfeldErfolg" value="option1">
      Ankreuzfeld mit Erfolg
    </label>
  </div>
</div>
<div class="has-warning">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="ankreuzfeldWarnung" value="option1">
      Ankreuzfeld mit Warnung
    </label>
  </div>
</div>
<div class="has-error">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="ankreuzfeldFehler" value="option1">
      Ankreuzfeld mit Fehler
    </label>
  </div>
</div>
{% endhighlight %}

  <h3>Mit optionalen Icons</h3>
  <p>Du kannst optional außerdem passende Icons hinzufügen, indem du die Klasse <code>.has-feedback</code> und das richtige Icon ergänzt.</p>
  <p><strong class="text-danger">Feedback-Icons funktionieren nur mit <code>&lt;input class="form-control"&gt;</code>-Elementen, in die man Text eingeben kann.</strong></p>
  <div class="bs-callout bs-callout-warning" id="callout-has-feedback-icon-positioning">
    <h4>Icons, Labels und Input-Gruppen</h4>
    <p>Die Feedback-Icons müssen manuell positioniert werden, wenn du sie mit Feldern ohne Label oder mit <a href="{{ site.baseurl }}/komponenten#input-groups">Input-Gruppen</a> mit einem Add-on auf der rechten Seite verwendest. Es wird aus Gründen der Barrierefreiheit dringend empfohlen, Labels für alle Felder anzugeben. Falls du die Anzeige von Labels verhindern möchtest, verberge sie mit der Klasse <code>sr-only</code>. Falls du wirklich keine Labels einfügen kannst, musst du den Wert für <code>top</code> beim Feedback-Icon anpassen. Ändere bei Input-Grupen den Standard <code>right: 0;</code> zu einem sinnvollen Pixel-Wert, abhängig von der Breite deines Add-ons.</p>
  </div>
  <div class="bs-callout bs-callout-warning" id="callout-has-feedback-icon-accessibility">
    <h4>Bedeutung des Icons an assistive Technologien vermitteln</h4>
    <p>Um sicherzustellen, dass assistive Technologien wie Screenreader die Bedeutung eines Icons korrekt wiedergeben, sollte zusätzlicher verborgener Text mit Hilfe der Klasse <code>.sr-only</code> eingebunden werden und über das Attribut <code>aria-describedby</code> ausdrücklich mit dem Formularelement, auf das er sich bezieht, verknüpft werden. Alternativ solltest du sicherstellen, dass die Bedeutung (z.B. die Tatsache, dass es eine Warnung für ein bestimmtes Textfeld gibt) in irgendeiner anderen Form vermittelt wird, z.B. durch Veränderung des eigentlichen, mit dem Formularelement verknüpften <code>&lt;label&gt;</code>.</p>
    <p>Obwohl die folgenden Beispiele den Validierugnsstatus ihrer jeweiligen Formularelemente im <code>&lt;label&gt;</code>-Text selbst bereits einbinden, wurde die obige Methode (die Verwendung von Text in <code>.sr-only</code> und <code>aria-describedby</code>) zur Illustration zusätzlich hinzugefügt.</p>
  </div>
  <div class="bs-example" data-example-id="form-validation-states-with-icons">
    <form>
      <div class="form-group has-success has-feedback">
        <label class="control-label" for="eingabefeldErfolg2">Feld mit Erfolg</label>
        <input type="text" class="form-control" id="eingabefeldErfolg2" aria-describedby="eingabefeldErfolg2Status">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="eingabefeldErfolg2Status" class="sr-only">(Erfolg)</span>
      </div>
      <div class="form-group has-warning has-feedback">
        <label class="control-label" for="eingabefeldWarnung2">Feld mit Warnung</label>
        <input type="text" class="form-control" id="eingabefeldWarnung2" aria-describedby="eingabefeldWarnung2Status">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
        <span id="eingabefeldWarnung2Status" class="sr-only">(Warnung)</span>
      </div>
      <div class="form-group has-error has-feedback">
        <label class="control-label" for="eingabefeldFehler2">Feld mit Fehler</label>
        <input type="text" class="form-control" id="eingabefeldFehler2" aria-describedby="eingabefeldFehler2Status">
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span id="eingabefeldFehler2Status" class="sr-only">(Fehler)</span>
      </div>
      <div class="form-group has-success has-feedback">
        <label class="control-label" for="inputGruppeErfolg1">Input-Gruppe mit Erfolg</label>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" id="inputGruppeErfolg1" aria-describedby="inputGruppeErfolg1Status">
        </div>
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="inputGruppeErfolg1Status" class="sr-only">(Erfolg)</span>
      </div>
    </form>
  </div>
{% highlight html %}
<div class="form-group has-success has-feedback">
  <label class="control-label" for="eingabefeldErfolg2">Feld mit Erfolg</label>
  <input type="text" class="form-control" id="eingabefeldErfolg2" aria-describedby="eingabefeldErfolg2Status">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="eingabefeldErfolg2Status" class="sr-only">(Erfolg)</span>
</div>
<div class="form-group has-warning has-feedback">
  <label class="control-label" for="eingabefeldWarnung2">Feld mit Warnung</label>
  <input type="text" class="form-control" id="eingabefeldWarnung2" aria-describedby="eingabefeldWarnung2Status">
  <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
  <span id="eingabefeldWarnung2Status" class="sr-only">(Warnung)</span>
</div>
<div class="form-group has-error has-feedback">
  <label class="control-label" for="eingabefeldFehler2">Feld mit Fehler</label>
  <input type="text" class="form-control" id="eingabefeldFehler2" aria-describedby="eingabefeldFehler2Status">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span id="eingabefeldFehler2Status" class="sr-only">(Fehler)</span>
</div>
<div class="form-group has-success has-feedback">
  <label class="control-label" for="inputGruppeErfolg1">Input-Gruppe mit Erfolg</label>
  <div class="input-group">
    <span class="input-group-addon">@</span>
    <input type="text" class="form-control" id="inputGruppeErfolg1" aria-describedby="inputGruppeErfolg1Status">
  </div>
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="inputGruppeErfolg1Status" class="sr-only">(Erfolg)</span>
</div>
{% endhighlight %}

  <h4>Optionale Icons in horizontalen und einzeiligen Formularen</h4>
  <div class="bs-example" data-example-id="horizontal-form-validation-state-with-icon">
    <form class="form-horizontal">
      <div class="form-group has-success has-feedback">
        <label class="control-label col-sm-3" for="eingabefeldErfolg3">Feld mit Erfolg</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="eingabefeldErfolg3" aria-describedby="eingabefeldErfolg3Status">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span id="eingabefeldErfolg3Status" class="sr-only">(Erfolg)</span>
        </div>
      </div>
      <div class="form-group has-success has-feedback">
        <label class="control-label col-sm-3" for="inputGruppeErfolg2">Input-Gruppe mit Erfolg</label>
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" id="inputGruppeErfolg2" aria-describedby="inputGruppeErfolg2Status">
          </div>
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span id="inputGruppeErfolg2Status" class="sr-only">(Erfolg)</span>
        </div>
      </div>
    </form>
  </div>
{% highlight html %}
<form class="form-horizontal">
  <div class="form-group has-success has-feedback">
    <label class="control-label col-sm-3" for="eingabefeldErfolg3">Feld mit Erfolg</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="eingabefeldErfolg3" aria-describedby="eingabefeldErfolg3Status">
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span id="eingabefeldErfolg3Status" class="sr-only">(Erfolg)</span>
    </div>
  </div>
  <div class="form-group has-success has-feedback">
    <label class="control-label col-sm-3" for="inputGruppeErfolg2">Input-Gruppe mit Erfolg</label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" id="inputGruppeErfolg2" aria-describedby="inputGruppeErfolg2Status">
      </div>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span id="inputGruppeErfolg2Status" class="sr-only">(Erfolg)</span>
    </div>
  </div>
</form>
{% endhighlight %}

  <div class="bs-example" data-example-id="inline-form-validation-state-with-icon">
    <form class="form-inline">
      <div class="form-group has-success has-feedback">
        <label class="control-label" for="eingabefeldErfolg4">Feld mit Erfolg</label>
        <input type="text" class="form-control" id="eingabefeldErfolg4" aria-describedby="eingabefeldErfolg4Status">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="eingabefeldErfolg4Status" class="sr-only">(Erfolg)</span>
      </div>
    </form>
    <br>
    <form class="form-inline">
      <div class="form-group has-success has-feedback">
        <label class="control-label" for="inputGruppeErfolg3">Input-Gruppe mit Erfolg</label>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" id="inputGruppeErfolg3" aria-describedby="inputGruppeErfolg3Status">
        </div>
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="inputGruppeErfolg3Status" class="sr-only">(Erfolg)</span>
      </div>
    </form>
  </div>
{% highlight html %}
<form class="form-inline">
  <div class="form-group has-success has-feedback">
    <label class="control-label" for="eingabefeldErfolg4">Feld mit Erfolg</label>
    <input type="text" class="form-control" id="eingabefeldErfolg4" aria-describedby="eingabefeldErfolg4Status">
    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span id="eingabefeldErfolg4Status" class="sr-only">(Erfolg)</span>
  </div>
</form>
<form class="form-inline">
  <div class="form-group has-success has-feedback">
    <label class="control-label" for="inputGruppeErfolg3">Input-Gruppe mit Erfolg</label>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" id="inputGruppeErfolg3" aria-describedby="inputGruppeErfolg3Status">
    </div>
    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span id="inputGruppeErfolg3Status" class="sr-only">(Erfolg)</span>
  </div>
</form>
{% endhighlight %}

  <h4>Optionale Icons mit versteckten <code>.sr-only</code>-Labels</h4>
  <p>Falls du die Klasse <code>.sr-only</code> verwendest, um das <code>&lt;label&gt;</code> einer Formularschaltfläche zu verbergen (statt andere Labelling-Optionen wie das Attribut <code>aria-label</code> zu nutzen), wird Bootstrap die Position des Icons automatisch anpassen, sobald es hinzugefügt wurde.</p>
  <div class="bs-example" data-example-id="form-validation-state-with-icon-without-label">
    <div class="form-group has-success has-feedback">
      <label class="control-label sr-only" for="eingabefeldErfolg5">Verstecktes Label</label>
      <input type="text" class="form-control" id="eingabefeldErfolg5" aria-describedby="eingabefeldErfolg5Status">
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span id="eingabefeldErfolg5Status" class="sr-only">(Erfolg)</span>
    </div>
    <div class="form-group has-success has-feedback">
      <label class="control-label sr-only" for="inputGruppeErfolg4">Input-Gruppe mit Erfolg</label>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" id="inputGruppeErfolg4" aria-describedby="inputGruppeErfolg4Status">
      </div>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span id="inputGruppeErfolg4Status" class="sr-only">(Erfolg)</span>
    </div>
  </div>
{% highlight html %}
<div class="form-group has-success has-feedback">
  <label class="control-label sr-only" for="eingabefeldErfolg5">Verstecktes Label</label>
  <input type="text" class="form-control" id="eingabefeldErfolg5" aria-describedby="eingabefeldErfolg5Status">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="eingabefeldErfolg5Status" class="sr-only">(Erfolg)</span>
</div>
<div class="form-group has-success has-feedback">
  <label class="control-label sr-only" for="inputGruppeErfolg4">Input-Gruppe mit Erfolg</label>
  <div class="input-group">
    <span class="input-group-addon">@</span>
    <input type="text" class="form-control" id="inputGruppeErfolg4" aria-describedby="inputGruppeErfolg4Status">
  </div>
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="inputGruppeErfolg4Status" class="sr-only">(Erfolg)</span>
</div>
{% endhighlight %}


  <h2 id="forms-control-sizes">Größe</h2>
  <p>Leg Höhen mit Klassen wie <code>.input-lg</code> fest und veränder die Breite von Feldern mit Raster-Klassen wie <code>.col-lg-*</code>.</p>

  <h3>Höhenveränderung</h3>
  <p>Erstelle höhere oder niedrigere Formularfelder, deren Höhe mit Button-Größen übereinstimmt.</p>
  <div class="bs-example bs-example-control-sizing" data-example-id="form-control-height-sizes">
    <form>
      <div class="controls">
        <input class="form-control input-lg" type="text" placeholder=".input-lg">
        <input type="text" class="form-control" placeholder="Standard-Größe">
        <input class="form-control input-sm" type="text" placeholder=".input-sm">

        <select class="form-control input-lg">
          <option value="">.input-lg</option>
        </select>
        <select class="form-control">
          <option value="">Standard-Größe</option>
        </select>
        <select class="form-control input-sm">
          <option value="">.input-sm</option>
        </select>
      </div>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<input class="form-control input-lg" type="text" placeholder=".input-lg">
<input class="form-control" type="text" placeholder="Standard-Größe">
<input class="form-control input-sm" type="text" placeholder=".input-sm">

<select class="form-control input-lg">...</select>
<select class="form-control">...</select>
<select class="form-control input-sm">...</select>
{% endhighlight %}

  <h3>Größen in horizontalen Formularen</h3>
  <p>Lege die Größe von Labels und Formularelementen in <code>.form-horizontal</code> einfach und schnell fest, indem du <code>.form-group-lg</code> oder <code>.form-group-sm</code> hinzufügst.</p>
  <div class="bs-example" data-example-id="form-group-height-sizes">
    <form class="form-horizontal">
      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="formularGruppenFeldGross">Großes Label</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="formularGruppenFeldGross" placeholder="Großes Feld">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="formularGruppenFeldKlein">Kleines Label</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="formularGruppenFeldKlein" placeholder="Kleines Feld">
        </div>
      </div>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<form class="form-horizontal">
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" for="formularGruppenFeldGross">Großes Label</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="formularGruppenFeldGross" placeholder="Großes Feld">
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="formularGruppenFeldKlein">Kleines Label</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="formularGruppenFeldKlein" placeholder="Kleines Feld">
    </div>
  </div>
</form>
{% endhighlight %}


  <h3>Breitenveränderung mit Spalten</h3>
  <p>Verpacke Felder in Raster-Spalten oder eigens angepassten übergeordneten Elementen, um auf einfache Weise gewünschte Breiten festzulegen.</p>
  <div class="bs-example" data-example-id="form-control-column-sizing">
    <form>
      <div class="row">
        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder=".col-xs-2">
        </div>
        <div class="col-xs-3">
          <input type="text" class="form-control" placeholder=".col-xs-3">
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" placeholder=".col-xs-4">
        </div>
      </div>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<div class="row">
  <div class="col-xs-2">
    <input type="text" class="form-control" placeholder=".col-xs-2">
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder=".col-xs-3">
  </div>
  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder=".col-xs-4">
  </div>
</div>
{% endhighlight %}

  <h2 id="forms-help-text">Hilfe-Text</h2>
  <p>Füge Textblöcke mit Hilfetexten für Formularfelder hinzu.</p>
  <div class="bs-callout bs-callout-info" id="callout-help-text-accessibility">
    <h4>Hilfe-Text mit Formularelementen assoziieren</h4>
    <p>Hilfe-Text sollte mit dem Attribut <code>aria-describedby</code> ausdrücklich mit dem Formularelement assoziiert werden, auf das er sich bezieht. Dies stellt sicher, dass assistive Technologien wie Screenreader den Hilfe-Text vorlesen, wenn Nutzer das Element fokussieren oder hineingehen.</p>
  </div>
  <div class="bs-example" data-example-id="simple-help-text">
    <form>
      <div class="form-group">
        <label for="eingabefeldHilfeText">Eingabefeld mit Hilfe-Text</label>
        <input type="text" id="eingabefeldHilfeText" class="form-control" aria-describedby="hilfeText">
      </div>
      <span id="hilfeText" class="help-block">Ein Block mit hilfreichem Text, der mehr als eine Zeile lang sein darf und bei Bedarf umbricht.</span>
    </form>
  </div><!-- /.bs-example -->
{% highlight html %}
<label class="sr-only" for="eingabefeldHilfeText">Eingabefeld mit Hilfe-Text</label>
<input type="text" id="eingabefeldHilfeText" class="form-control" aria-describedby="hilfeText">
...
<span id="hilfeText" class="help-block">Ein Block mit hilfreichem Text, der mehr als eine Zeile lang sein darf und bei Bedarf umbricht.</span>
{% endhighlight %}
</div>
