<div class="bs-docs-section">
  <h1 id="responsive-utilities" class="page-header">Responsive Hilfsmittel</h1>

  <p class="lead">Für schnellere Entwicklung von Seiten, die gut auf mobilen Geräten aussehen, gibt es diese Hilfsklassen, mit denen du über Media-Queries Inhalte pro Gerät ein- und ausblenden kannst. Außerdem gibt es Hilfsklassen für das Ein- und Ausblenden von Inhalt für den Druck eines Dokuments.</p>
  <p>Versuche, diese Klassen nur eingeschränkt zu verwenden und vermeide es, damit ganz verschiedene Versionen der gleichen Seite zu erstellen. Verwende sie stattdessen, um die Anzeige auf jedem Gerät stimmig zu machen.</p>


  <h2 id="responsive-utilities-classes">Verfügbare Klassen</h2>
  <p>Verwende einzelne oder eine Kombination der verfügbaren Klassen, um Inhalt auf verschiedenen Anzeigefenstergrößen ein- und auszublenden.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped responsive-utilities">
      <thead>
        <tr>
          <th></th>
          <th>
            Extra-kleine Geräte
            <small>Smartphones (&lt;768px)</small>
          </th>
          <th>
            Kleine Geräte
            <small>Tablets (&ge;768px)</small>
          </th>
          <th>
            Mittlere Geräte
            <small>Desktop-PCs (&ge;992px)</small>
          </th>
          <th>
            Große Geräte
            <small>Desktop-PCs (&ge;1200px)</small>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><code>.visible-xs-*</code></th>
          <td class="is-visible">Sichtbar</td>
          <td class="is-hidden">Verborgen</td>
          <td class="is-hidden">Verborgen</td>
          <td class="is-hidden">Verborgen</td>
        </tr>
        <tr>
          <th scope="row"><code>.visible-sm-*</code></th>
          <td class="is-hidden">Verborgen</td>
          <td class="is-visible">Sichtbar</td>
          <td class="is-hidden">Verborgen</td>
          <td class="is-hidden">Verborgen</td>
        </tr>
        <tr>
          <th scope="row"><code>.visible-md-*</code></th>
          <td class="is-hidden">Verborgen</td>
          <td class="is-hidden">Verborgen</td>
          <td class="is-visible">Sichtbar</td>
          <td class="is-hidden">Verborgen</td>
        </tr>
        <tr>
          <th scope="row"><code>.visible-lg-*</code></th>
          <td class="is-hidden">Verborgen</td>
          <td class="is-hidden">Verborgen</td>
          <td class="is-hidden">Verborgen</td>
          <td class="is-visible">Sichtbar</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row"><code>.hidden-xs</code></th>
          <td class="is-hidden">Verborgen</td>
          <td class="is-visible">Sichtbar</td>
          <td class="is-visible">Sichtbar</td>
          <td class="is-visible">Sichtbar</td>
        </tr>
        <tr>
          <th scope="row"><code>.hidden-sm</code></th>
          <td class="is-visible">Sichtbar</td>
          <td class="is-hidden">Verborgen</td>
          <td class="is-visible">Sichtbar</td>
          <td class="is-visible">Sichtbar</td>
        </tr>
        <tr>
          <th scope="row"><code>.hidden-md</code></th>
          <td class="is-visible">Sichtbar</td>
          <td class="is-visible">Sichtbar</td>
          <td class="is-hidden">Verborgen</td>
          <td class="is-visible">Sichtbar</td>
        </tr>
        <tr>
          <th scope="row"><code>.hidden-lg</code></th>
          <td class="is-visible">Sichtbar</td>
          <td class="is-visible">Sichtbar</td>
          <td class="is-visible">Sichtbar</td>
          <td class="is-hidden">Verborgen</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>Ab v3.2.0 gibt es <code>.visible-*-*</code>-Klassen für jeden Umbruchpunkt in drei Variationen, eine für jeden der unten aufgeführten Werte der CSS-Eigenschaft <code>display</code>.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Gruppe von Klassen</th>
          <th>CSS <code>display</code></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><code>.visible-*-block</code></th>
          <td><code>display: block;</code></td>
        </tr>
        <tr>
          <th scope="row"><code>.visible-*-inline</code></th>
          <td><code>display: inline;</code></td>
        </tr>
        <tr>
          <th scope="row"><code>.visible-*-inline-block</code></th>
          <td><code>display: inline-block;</code></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Die verfügbaren <code>.visible-*-*</code>-Klassen für sehr kleine (<code>xs</code>) Bilschirme sind also zum Beispiel: <code>.visible-xs-block</code>, <code>.visible-xs-inline</code> und <code>.visible-xs-inline-block</code>.</p>
  <p>Die Klassen <code>.visible-xs</code>, <code>.visible-sm</code>, <code>.visible-md</code> und <code>.visible-lg</code> bleiben weiterhin bestehen, sind aber <strong>ab v3.2.0 als veraltet markiert</strong>. Sie entsprechen in etwa <code>.visible-*-block</code>, abgesehen von besonderen Ergänzungen für Elemente rund um <code>&lt;table&gt;</code>.</p>

  <h2 id="responsive-utilities-print">Klassen für den Druck</h2>
  <p>So ähnlich wie die normalen responsiven Klassen gibt es auch noch Klassen für das Ein- und Ausblenden beim Druck.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped responsive-utilities">
      <thead>
        <tr>
          <th>Klassen</th>
          <th>Browser</th>
          <th>Druck</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <code>.visible-print-block</code>
            <code>.visible-print-inline</code>
            <code>.visible-print-inline-block</code>
          </th>
          <td class="is-hidden">Verborgen</td>
          <td class="is-visible">Sichtbar</td>
        </tr>
        <tr>
          <th scope="row"><code>.hidden-print</code></th>
          <td class="is-visible">Sichtbar</td>
          <td class="is-hidden">Verborgen</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Die Klasse <code>.visible-print</code> bleibt weiterhin bestehen, ist aber <strong>ab v3.2.0 als veraltet markiert</strong>. Sie entspricht in etwa <code>.visible-print-block</code>, abgesehen von besonderen Ergänzungen für Elemente rund um <code>&lt;table&gt;</code>.</p>


  <h2 id="responsive-utilities-tests">Test-Ansicht</h2>
  <p>Verändere die Größe deines Browser-Fensters oder lade diese Seite auf verschiedenen Geräten, um die responsiven Hilfsmittel zu testen.</p>

  <h3>Sichtbar auf...</h3>
  <p>Grüne Häkchen zeigen an, dass das Element in deinem aktuellen Anzeigefenster <strong>sichtbar ist</strong>.</p>
  <div class="row responsive-utilities-test visible-on">
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-xs">Extra-klein</span>
      <span class="visible-xs-block">&#10004; Sichtbar auf X-klein</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-sm">Klein</span>
      <span class="visible-sm-block">&#10004; Sichtbar auf Klein</span>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-md">Mittel</span>
      <span class="visible-md-block">&#10004; Sichtbar auf Mittel</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-lg">Groß</span>
      <span class="visible-lg-block">&#10004; Sichtbar auf Groß</span>
    </div>
  </div>
  <div class="row responsive-utilities-test visible-on">
    <div class="col-xs-6">
      <span class="hidden-xs hidden-sm">Extra-klein und klein</span>
      <span class="visible-xs-block visible-sm-block">&#10004; Sichtbar auf X-klein und Klein</span>
    </div>
    <div class="col-xs-6">
      <span class="hidden-md hidden-lg">Mittel und groß</span>
      <span class="visible-md-block visible-lg-block">&#10004; Sichtbar auf Mittel und Groß</span>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6">
      <span class="hidden-xs hidden-md">Extra-klein und mittel</span>
      <span class="visible-xs-block visible-md-block">&#10004; Sichtbar auf X-klein und Mittel</span>
    </div>
    <div class="col-xs-6">
      <span class="hidden-sm hidden-lg">Klein und groß</span>
      <span class="visible-sm-block visible-lg-block">&#10004; Sichtbar auf Klein und Groß</span>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6">
      <span class="hidden-xs hidden-lg">Extra-klein und groß</span>
      <span class="visible-xs-block visible-lg-block">&#10004; Sichtbar auf X-klein und Groß</span>
    </div>
    <div class="col-xs-6">
      <span class="hidden-sm hidden-md">Klein und mittel</span>
      <span class="visible-sm-block visible-md-block">&#10004; Sichtbar auf Klein und Mittel</span>
    </div>
  </div>

  <h3>Verborgen auf...</h3>
  <p>Hier zeigen die grünen Häkchen an, dass das Element in deinem Anzeigefenster <strong>verborgen ist</strong>.</p>
  <div class="row responsive-utilities-test hidden-on">
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-xs">Extra-klein</span>
      <span class="visible-xs-block">&#10004; Verborgen auf X-klein</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-sm">Klein</span>
      <span class="visible-sm-block">&#10004; Verborgen auf Klein</span>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-md">Mittel</span>
      <span class="visible-md-block">&#10004; Verborgen auf Mittel</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-lg">Groß</span>
      <span class="visible-lg-block">&#10004; Verborgen auf Groß</span>
    </div>
  </div>
  <div class="row responsive-utilities-test hidden-on">
    <div class="col-xs-6">
      <span class="hidden-xs hidden-sm">Extra-klein und klein</span>
      <span class="visible-xs-block visible-sm-block">&#10004; Verborgen auf X-klein und Klein</span>
    </div>
    <div class="col-xs-6">
      <span class="hidden-md hidden-lg">Mittel und groß</span>
      <span class="visible-md-block visible-lg-block">&#10004; Verborgen auf Mittel und Groß</span>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6">
      <span class="hidden-xs hidden-md">Extra-klein und mittel</span>
      <span class="visible-xs-block visible-md-block">&#10004; Verborgen auf X-klein und Mittel</span>
    </div>
    <div class="col-xs-6">
      <span class="hidden-sm hidden-lg">Klein und groß</span>
      <span class="visible-sm-block visible-lg-block">&#10004; Verborgen auf Klein und Groß</span>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6">
      <span class="hidden-xs hidden-lg">Extra-klein und groß</span>
      <span class="visible-xs-block visible-lg-block">&#10004; Verborgen auf X-klein und Groß</span>
    </div>
    <div class="col-xs-6">
      <span class="hidden-sm hidden-md">Klein und mittel</span>
      <span class="visible-sm-block visible-md-block">&#10004; Verborgen auf Klein und Mittel</span>
    </div>
  </div>
</div>
