<div class="bs-docs-section">
  <h1 id="badges" class="page-header">Badges</h1>

  <p class="lead">Füge <code>&lt;span class="badge"&gt;</code> zu Links, Bootstrap-Navs und mehr hinzu, um neue oder ungelesene Einträge hervorzuheben.</p>

  <div class="bs-example">
    <a href="#">Posteingang <span class="badge">42</span></a>
  </div>
{% highlight html %}
<a href="#">Posteingang <span class="badge">42</span></a>
{% endhighlight %}

  <h4>Verschwinden von allein</h4>
  <p>Wenn es keine neuen oder ungelesenen Objekte gibt, verschwinden Badges einfach (über den <code>:empty</code>-Selektor in CSS), solange wirklich kein Inhalt darin vorhanden ist.</p>

  <div class="bs-callout bs-callout-danger">
    <h4>Browser-Kompatibilität</h4>
    <p>Badges werden im Internet Explorer 8 nicht automatisch verschwinden, da dieser <code>:empty</code> nicht unterstützt.</p>
  </div>

  <h4>Passt sich der aktiven Ansicht in Navs an</h4>
  <p>Da passende Stile eingebaut sind, kannst du Badges ohne Probleme zusammen mit der aktiven Ansicht in Pills-Navs verwenden.</p>
  <div class="bs-example">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#">Start <span class="badge">42</span></a></li>
      <li role="presentation"><a href="#">Profil</a></li>
      <li role="presentation"><a href="#">Nachrichten <span class="badge">3</span></a></li>
    </ul>
    <br>
    <ul class="nav nav-pills nav-stacked" role="tablist" style="max-width: 260px;">
      <li role="presentation" class="active">
        <a href="#">
          <span class="badge pull-right">42</span>
          Start
        </a>
      </li>
      <li role="presentation"><a href="#">Profil</a></li>
      <li role="presentation">
        <a href="#">
          <span class="badge pull-right">3</span>
          Nachrichten
        </a>
      </li>
    </ul>
    <br>
    <button class="btn btn-primary" type="button">
      Nachrichten <span class="badge">4</span>
    </button>
  </div>
{% highlight html %}
<ul class="nav nav-pills nav-stacked" role="tablist">
  <li role="presentation" class="active">
    <a href="#">
      <span class="badge pull-right">42</span>
      Start
    </a>
  </li>
  ...
</ul>
{% endhighlight %}
</div>
