<div class="bs-docs-section">
  <h1 id="btn-dropdowns" class="page-header">Button-Dropdowns</h1>

  <p class="lead">Du kannst beliebige Buttons verwenden, um ein Dropdown-Menü zu öffnen und zu schließen, indem du den Button in einer <code>.btn-group</code> platzierst und das Markup für das Menü hinzufügst.</p>

  <div class="bs-callout bs-callout-danger" id="callout-btndropdown-dependency">
    <h4>Plugin-Abhängigkeit</h4>
    <p>Button-Dropdowns benötigen das <a href="{{ site.baseurl }}/javascript/#dropdowns">Dropdown-Plugin</a> in deiner Bootstrap-Version.</p>
  </div>

  <h2 id="btn-dropdowns-single">Einzelne Button-Dropdowns</h2>
  <p>Verwandel einen Button in einen Menü-Schalter mit ein paar einfachen Markup-Änderungen.</p>
  <div class="bs-example" data-example-id="single-button-dropdown">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Standard <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primär <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Erfolg <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Warnung <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gefahr <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
  </div>
{% highlight html %}
<!-- Einzelner Button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Aktion <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Aktion</a></li>
    <li><a href="#">Andere Aktion</a></li>
    <li><a href="#">Irgendwas anderes</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Abgetrennter Link</a></li>
  </ul>
</div>
{% endhighlight %}

  <h2 id="btn-dropdowns-split">Getrennte Button-Dropdowns</h2>
  <p>Auf ähnliche Weise kannst du Button-Dropdowns erstellen, bei denen der Menü-Schalter von einem eigentlichen Button abgetrennt ist.</p>
  <div class="bs-example" data-example-id="split-button-dropdown">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Standard</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Menü ein-/ausblenden</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Primär</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Menü ein-/ausblenden</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-success">Erfolg</button>
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Menü ein-/ausblenden</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Menü ein-/ausblenden</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-warning">Warnung</button>
      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Menü ein-/ausblenden</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger">Gefahr</button>
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Menü ein-/ausblenden</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Aktion</a></li>
        <li><a href="#">Andere Aktion</a></li>
        <li><a href="#">Irgendwas anderes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Abgetrennter Link</a></li>
      </ul>
    </div><!-- /btn-group -->
  </div>
{% highlight html %}
<!-- Abgetrennter Button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger">Aktion</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Menü ein-/ausblenden</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Aktion</a></li>
    <li><a href="#">Andere Aktion</a></li>
    <li><a href="#">Irgendwas anderes</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Abgetrennter Link</a></li>
  </ul>
</div>
{% endhighlight %}

  <h2 id="btn-dropdowns-sizing">Größe</h2>
  <p>Button-Dropdowns funktionieren mit Buttons in allen Größen.</p>
  <div class="bs-example" data-example-id="button-dropdown-sizing">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Großer Button <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Aktion</a></li>
          <li><a href="#">Andere Aktion</a></li>
          <li><a href="#">Irgendwas anderes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Abgetrennter Link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kleiner Button <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Aktion</a></li>
          <li><a href="#">Andere Aktion</a></li>
          <li><a href="#">Irgendwas anderes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Abgetrennter Link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Extra-kleiner Button <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Aktion</a></li>
          <li><a href="#">Andere Aktion</a></li>
          <li><a href="#">Irgendwas anderes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Abgetrennter Link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
  </div><!-- /example -->
{% highlight html %}
<!-- Große Button-Gruppe -->
<div class="btn-group">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Großer Button <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    ...
  </ul>
</div>

<!-- Kleine Button-Gruppe -->
<div class="btn-group">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Kleiner Button <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    ...
  </ul>
</div>

<!-- Extra-kleine Button-Gruppe -->
<div class="btn-group">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Extra-kleiner Button <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    ...
  </ul>
</div>
{% endhighlight %}

  <h2 id="btn-dropdowns-dropup">Dropup-Variante</h2>
  <p>Öffne und schließe Menüs über anderen Elementen, indem du <code>.dropup</code> zum übergeordneten Element hinzufügst.</p>
  <div class="bs-example" data-example-id="button-dropdown-dropup">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group dropup">
        <button type="button" class="btn btn-default">Dropup</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Menü ein-/ausblenden</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Aktion</a></li>
          <li><a href="#">Andere Aktion</a></li>
          <li><a href="#">Irgendwas anderes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Abgetrennter Link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group dropup">
        <button type="button" class="btn btn-primary">Dropup rechts</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Menü ein-/ausblenden</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Aktion</a></li>
          <li><a href="#">Andere Aktion</a></li>
          <li><a href="#">Irgendwas anderes</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Abgetrennter Link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div>
  </div><!-- /example -->
{% highlight html %}
<div class="btn-group dropup">
  <button type="button" class="btn btn-default">Dropup</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Menü ein-/ausblenden</span>
  </button>
  <ul class="dropdown-menu">
    <!-- Dropdown-Menü-Links -->
  </ul>
</div>
{% endhighlight %}
</div>
