<div class="bs-docs-section">
  <h1 id="glyphicons" class="page-header">Glyphicons</h1>

  <h2 id="glyphicons-glyphs">Verfügbare Glyphen</h2>
  <p>Dabei sind 200 Glyphen in Form einer Schriftart aus den Glyphicons Halflings. <a href="http://glyphicons.com/">Glyphicons</a> Halflings sind normalerweise nicht kostenlos erhältlich, aber ihr Erfinder hat sie für Bootstrap gratis verfügbar gemacht. Als Dankeschön bitten wir dich nur, wo immer möglich einen Link zu den <a href="http://glyphicons.com/">Glyphicons</a> einzubinden.</p>
  <div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
      {% for iconClassName in site.data.glyphicons %}
        <li>
          <span class="glyphicon {{ iconClassName }}" aria-hidden="true"></span>
          <span class="glyphicon-class">glyphicon {{ iconClassName }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>


  <h2 id="glyphicons-how-to-use">Verwendung</h2>
  <p>Aus Gründen der Performance benötigen alle Icons eine Grundklasse und eine weitere Klasse für das jeweilige Icon. Um ein Icon zu werwenden, platziere einfach den folgenden Code fast überall wo du willst. Denk daran, ein Leerzeichen zwischen Icon und eventuellem Text zu lassen, damit die Icons einen angemessenen Abstand haben.</p>
  <div class="bs-callout bs-callout-danger">
    <h4>Nicht mit anderen Komponenten vermischen.</h4>
    <p>Icon-Klassen können nicht direkt mit anderen Komponenten kombiniert werden. Sie sollten niemals mit anderen Klassen auf das selbe Element angewendet werden. Füge stattdessen ein untergeordnetes <code>&lt;span&gt;</code> ein und wende die Icon-Klassen auf dieses <code>&lt;span&gt;</code> an.</p>
  </div>
  <div class="bs-callout bs-callout-danger">
    <h4>Nur mit leeren Elementen verwenden</h4>
    <p>Icon-Klassen sollten nur auf Elemente angewendet werden, die weder Text noch untergeordnete Elemente enthalten.</p>
  </div>
  <div class="bs-callout bs-callout-info">
    <h4>Ort der Icon-Schriftarten-Dateien ändern</h4>
    <p>Bootstrap erwartet, dass sich die Dateien für die Symbole im Verzeichnis <code>../fonts/</code> relativ zu den kompilierten CSS-Dateien befinden. Ein Verschieben oder Umbenennen dieser Schriftarten-Dateien bedeutet, dass du das CSS über einen von drei Wegen aktualisieren musst:</p>
    <ul>
      <li>Verändere die Variablen <code>@icon-font-path</code> und/oder <code>@icon-font-name</code> in den Less-Quelldateien.</li>
      <li>Verwende die <a href="http://lesscss.org/usage/#command-line-usage-relative-urls">Option der relativen URLs</a>, die der Less-Kompilierer bereitstellt.</li>
      <li>Verändere die <code>url()</code>-Pfade im kompilierten CSS.</li>
    </ul>
    <p>Verwende die Option, die am besten zu deiner spezifischen Umwicklungseinrichtung passt.</p>
  </div>
  <div class="bs-callout bs-callout-warning">
    <h4>Barrierefreie Icons</h4>
    <p>Moderne Versionen von assistiven Technologien geben CSS-generierten Inhalt und spezifische Unicode-Zeichen wieder. Um ungewollte und verwirrende Ausgaben in Screenreadern zu vermeiden (insbesondere wenn Icons nur zur Dekoration verwendet werden), verstecken wir diese mit dem Attribut <code>aria-hidden="true"</code>.</p>
    <p>Falls du ein Icon verwendest, um etwas zu vermitteln (im Kontrast zu einer rein dekorativen Verwendung), achte darauf, dass die Bedeutung auch über assistive Technologien vermittelt wird, z.B. solltest du zusätzlichen Inhalt hinzufügen, den du mit der Klasse <code>.sr-only</code> unsichtbar machen kannst.</p>
    <p>Falls du Schaltflächen ohne anderen Text (z.B. einen <code>&lt;button&gt;</code>, der nur ein Icon enthält) erstellst, solltest du immer alternativen Inhalt bereitstellen, um den Zweck der Schaltfläche zu identifizieren, so dass diese für Nutzer von assistiven Technologien Sinn macht. In diesem Fall könntest du ein <code>aria-label</code>-Attribut zur Schaltfläche selbst hinzufügen.</p>
  </div>
{% highlight html %}
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
{% endhighlight %}


  <h2 id="glyphicons-examples">Beispiele</h2>
  <p>Du kannst Glyphicons prima in Buttons, Button-Gruppen für eine Toolbar, Navigation oder Formularfeldern mit Präfix verwenden.</p>
  <div class="bs-example">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default" aria-label="Links ausrichten"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" aria-label="Zentrieren"><span class="glyphicon glyphicon-align-center" aria-hidden="true" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" aria-label="Rechts ausrichten"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" aria-label="Blocksatz"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="btn-toolbar" role="toolbar">
      <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Markieren</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Markieren</button>
      <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Markieren</button>
      <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Markieren</button>
    </div>
  </div>
{% highlight html %}
<button type="button" class="btn btn-default" aria-label="Links ausrichten">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Markieren
</button>
{% endhighlight %}
  <p>Du kannst ein Icon in einem <a href="#alerts">Warnhinweis</a> verwenden, um zu vermitteln, dass es sich um eine Fehlermeldung handelt. Nutze zusätzlichen <code>.sr-only</code>-Text, um diese Tatsache auch an Nutzer von assistiven Technologien zu vermitteln.</p>
  <div class="bs-example">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Fehler:</span>
      Gib eine gültige Email-Adresse ein
    </div>
  </div>
{% highlight html %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Fehler:</span>
  Gib eine gültige Email-Adresse ein
</div>
{% endhighlight %}
</div>
