<div class="bs-docs-section">
  <h1 id="labels" class="page-header">Labels</h1>

  <h3>Beispiel</h3>
  <div class="bs-example" data-example-id="labels-in-headings">
    <h1>Überschrift <span class="label label-default">Neu</span></h1>
    <h2>Überschrift <span class="label label-default">Neu</span></h2>
    <h3>Überschrift <span class="label label-default">Neu</span></h3>
    <h4>Überschrift <span class="label label-default">Neu</span></h4>
    <h5>Überschrift <span class="label label-default">Neu</span></h5>
    <h6>Überschrift <span class="label label-default">Neu</span></h6>
  </div>
{% highlight html %}
<h3>Überschrift <span class="label label-default">Neu</span></h3>
{% endhighlight %}

  <h3>Verfügbare Varianten</h3>
  <p>Füge irgendeine der unten genannten zusätzlichen Klassen hinzu, um das Aussehen eines Labels anzupassen.</p>
  <div class="bs-example" data-example-id="label-variants">
    <span class="label label-default">Standard</span>
    <span class="label label-primary">Primär</span>
    <span class="label label-success">Erfolg</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warnung</span>
    <span class="label label-danger">Gefahr</span>
  </div>
{% highlight html %}
<span class="label label-default">Standard</span>
<span class="label label-primary">Primär</span>
<span class="label label-success">Erfolg</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warnung</span>
<span class="label label-danger">Gefahr</span>
{% endhighlight %}

  <div class="bs-callout bs-callout-info" id="callout-labels-inline-block">
    <h4>Hast du eine große Anzahl von Labels?</h4>
    <p>Rendering-Probleme können auftreten, wenn du Dutzende von Inline-Labels, die jeweils ein <code>inline-block</code>-Element wie ein Icon enthalten, in einen engen Container einschließt. Setze das Label auf <code>display: inline-block;</code>, um das zu umgehen. Für Kontext und ein Beispiel, <a href="https://github.com/twbs/bootstrap/issues/13219">siehe #13219</a>.</p>
  </div>
</div>
