<div class="bs-docs-section">
  <h1 id="list-group" class="page-header">Listengruppen</h1>

  <p class="lead">Listengruppen sind eine flexible und umfangreiche Komponente für die Anzeige von mehr als simplen Listen von Elementen, nämlich komplexen Versionen davon mit eigenem Inhalt.</p>

  <h3 id="list-group-basic">Einfaches Beispiel</h3>
  <p>Die einfachste Variante der Listengruppe ist einfach eine unsortierte Liste mit Listen-Einträgen (<code>&lt;li&gt;</code>) und den jeweiligen Klassen. Erweiter dieses Basis mit den folgenden Optionen oder füge deine eigenen Stile hinzu, wenn du sie brauchst.</p>
  <div class="bs-example">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
{% endhighlight %}

  <h3 id="list-group-badges">Badges</h3>
  <p>Wenn du Badges zu Einträgen in einer Listengruppe hinzufügst, werden diese automatisch ganz rechts positioniert.</p>
  <div class="bs-example">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">2</span>
        Dapibus ac facilisis in
      </li>
      <li class="list-group-item">
        <span class="badge">1</span>
        Morbi leo risus
      </li>
    </ul>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>
{% endhighlight %}

  <h3 id="list-group-linked">Verlinkte Einträge</h3>
  <p>Verlinke die Einträge in Listengruppen, indem du Anchor-Tags (<code>&lt;a&gt;</code>) statt Listen-Einträgen (<code>&lt;li&gt;</code>) und als übergeordnetes Element ein <code>&lt;div&gt;</code> statt einer <code>&lt;ul&gt;</code> verwendest. Einzelne Elternelemente um jedes Element werden nicht benötigt.</p>
  <div class="bs-example">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
{% endhighlight %}

  <h3 id="list-group-disabled">Deaktivierte Einträge</h3>
  <p>Füge <code>.disabled</code> zu einem <code>.list-group-item</code> hinzu, um durch Grautöne einen Eintrag deaktiviert aussehen zu lassen.</p>
  <div class="bs-example">
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <a href="#" class="list-group-item disabled">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
{% endhighlight %}

  <h3 id="list-group-contextual-classes">Kontext-Varianten</h3>
  <p>Verwende Kontextklassen, um Listen-Einträge zu gestalten (unabhängig davon, ob du Standard- oder verlinkte Listen-Einträge verwendest). Außerdem gibt es <code>.active</code> für eine Darstellung als aktives Element.</p>
  <div class="bs-example">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
          <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
          <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
          <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
          <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
  <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
  <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
  <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
</ul>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
  <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
</div>
{% endhighlight %}

  <h3 id="list-group-custom-content">Eigene Inhalte</h3>
  <p>Du kannst quasi jegliches HTML einbinden, auch in verlinkten Listengruppen wie der hier unten.</p>
  <div class="bs-example">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Listengruppen-Eintragsüberschrift</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Listengruppen-Eintragsüberschrift</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Listengruppen-Eintragsüberschrift</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Listengruppen-Eintragsüberschrift</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>
{% endhighlight %}
</div>
