<div class="bs-docs-section">
  <h1 id="page-header" class="page-header">Seiten-Überschrift</h1>

  <p>Eine einfache Hülle, um ein <code>h1</code> für angemessenen Abstand zwischen Abschnitten auf einer Seite zu verwenden. Sie kann das normale <code>small</code>-Element des <code>h1</code> sowie die meisten anderen Komponenten (mit zusätzlichen Stilen) enthalten.</p>
  <div class="bs-example" data-example-id="simple-page-header">
    <div class="page-header">
      <h1>Beispiel-Seiten-Überschrift <small>Untertitel</small></h1>
    </div>
  </div>
{% highlight html %}
<div class="page-header">
  <h1>Beispiel-Seiten-Überschrift <small>Untertitel</small></h1>
</div>
{% endhighlight %}
</div>
