<div class="bs-docs-section">
  <h1 id="panels" class="page-header">Panele</h1>

  <p class="lead">Während das nicht immer notwendig ist, willst du dein DOM manchmal vielleicht in eine Box einfügen. Probier für solche Situationen doch mal die Panel-Komponente aus.</p>

  <h3 id="panels-basic">Einfaches Beispiel</h3>
  <p>Standardmäßig sorgt die Klasse <code>.panel</code> nur für einen einfachen Rahmen und etwas Innenabstand zwischen diesem und dem Inhalt.</p>
  <div class="bs-example">
    <div class="panel panel-default">
      <div class="panel-body">
        Einfaches Panel-Beispiel
      </div>
    </div>
  </div>
{% highlight html %}
<div class="panel panel-default">
  <div class="panel-body">
    Einfaches Panel-Beispiel
  </div>
</div>
{% endhighlight %}

  <h3 id="panels-heading">Panel mit Überschrift</h3>
  <p>Du kannst mit <code>.panel-heading</code> ganz einfach einen Container für eine Überschrift zu deinem Panel hinzufügen. Außerdem kannst du irgendeine <code>&lt;h1&gt;</code>-<code>&lt;h6&gt;</code> mit <code>.panel-title</code> versehen, um besondere Stile zu der Überschrift hinzuzufügen.</p>
  <div class="bs-example">
    <div class="panel panel-default">
      <div class="panel-heading">Panel-Überschrift ohne Titel</div>
      <div class="panel-body">
        Panel-Inhalt
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel-Titel</h3>
      </div>
      <div class="panel-body">
        Panel-Inhalt
      </div>
    </div>
  </div>
{% highlight html %}
<div class="panel panel-default">
  <div class="panel-heading">Panel-Überschrift ohne Titel</div>
  <div class="panel-body">
    Panel-Inhalt
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel-Titel</h3>
  </div>
  <div class="panel-body">
    Panel-Inhalt
  </div>
</div>
{% endhighlight %}

  <h3 id="panels-footer">Panel mit Footer</h3>
  <p>Sortiere Buttons oder weniger wichtigen Text in einem <code>.panel-footer</code>. Beachte, dass Panel-Footer <strong>nicht</strong> die Farben und Rahmen von Kontext-Varianten übernehmen, da die Footer nicht für den Vordergrund bestimmt sind.</p>
  <div class="bs-example">
    <div class="panel panel-default">
      <div class="panel-body">
        Panel-Inhalt
      </div>
      <div class="panel-footer">Panel-Footer</div>
    </div>
  </div>
{% highlight html %}
<div class="panel panel-default">
  <div class="panel-body">
    Panel-Inhalt
  </div>
  <div class="panel-footer">Panel-Footer</div>
</div>
{% endhighlight %}

  <h3 id="panels-alternatives">Kontext-Varianten</h3>
  <p>Wie bei anderen Komponenten kannst du auch einem Panel mit Kontextklassen mehr Bedeutung in Bezug auf einen bestimmten Zusammenhang verleihen.</p>
  <div class="bs-example">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel-Titel</h3>
      </div>
      <div class="panel-body">
        Panel-Inhalt
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Panel-Titel</h3>
      </div>
      <div class="panel-body">
        Panel-Inhalt
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Panel-Titel</h3>
      </div>
      <div class="panel-body">
        Panel-Inhalt
      </div>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Panel-Titel</h3>
      </div>
      <div class="panel-body">
        Panel-Inhalt
      </div>
    </div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Panel-Titel</h3>
      </div>
      <div class="panel-body">
        Panel-Inhalt
      </div>
    </div>
  </div>
{% highlight html %}
<div class="panel panel-primary">...</div>
<div class="panel panel-success">...</div>
<div class="panel panel-info">...</div>
<div class="panel panel-warning">...</div>
<div class="panel panel-danger">...</div>
{% endhighlight %}

  <h3 id="panels-tables">Mit Tabellen</h3>
  <p>Füge irgendeine <code>.table</code> ohne Rahmen direkt in ein Panel ein und sie wird nahtlos eingebunden. Falls einen <code>.panel-body</code> gibt, fügen wir eine zusätzliche Rahmengrenze oben an der Tabelle hinzu, damit die verschiedenen Teile gut voneinander zu unterscheiden sind.</p>
  <div class="bs-example">
    <div class="panel panel-default">
      <!-- Standard-Panel-Inhalt -->
      <div class="panel-heading">Panel-Überschrift</div>
      <div class="panel-body">
        <p>Ein bisschen ganz normaler Panel-Inhalt. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>

      <!-- Tabelle -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Benutzername</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% highlight html %}
<div class="panel panel-default">
  <!-- Standard-Panel-Inhalt -->
  <div class="panel-heading">Panel-Überschrift</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Tabelle -->
  <table class="table">
    ...
  </table>
</div>
{% endhighlight %}

  <p>Falls es keinen Panel-Body gibt, gibt es auch keine Unterbrechung in Form einer Lücke zwischen Panel-Überschrift und Tabelle.</p>
  <div class="bs-example">
    <div class="panel panel-default">
      <!-- Standard-Panel-Inhalt -->
      <div class="panel-heading">Panel-Überschrift</div>

      <!-- Tabelle -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Benutzername</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% highlight html %}
<div class="panel panel-default">
  <!-- Standard-Panel-Inhalt -->
  <div class="panel-heading">Panel-Überschrift</div>

  <!-- Tabelle -->
  <table class="table">
    ...
  </table>
</div>
{% endhighlight %}


  <h3 id="panels-list-group">Mit Listengruppen</h3>
  <p>Auch <a href="#list-group">Listengruppen</a> kannst du ganz einfach in einem Panel einbinden.</p>
  <div class="bs-example">
    <div class="panel panel-default">
      <!-- Standard-Panel-Inhalt -->
      <div class="panel-heading">Panel-Überschrift</div>
      <div class="panel-body">
        <p>Ein bisschen ganz normaler Panel-Inhalt. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>

      <!-- Listengruppe -->
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
{% highlight html %}
<div class="panel panel-default">
  <!-- Standard-Panel-Inhalt -->
  <div class="panel-heading">Panel-Überschrift</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Listengruppe -->
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
{% endhighlight %}
</div>
