<div class="bs-docs-section">
  <h1 id="progress" class="page-header">Verlaufsanzeige</h1>

  <p class="lead">Präsentiere aktuelle Informationen über den Fortschritt eines Vorgangs oder einer Aktion mit diesen simplen und dennoch flexiblen Verlaufsleisten.</p>

  <div class="bs-callout bs-callout-danger" id="callout-progress-animation-css3">
    <h4>Browser-Kompatibilität</h4>
    <p>Verlaufsleisten verwenden CSS3-Übergänge und -Animationen, um einige ihrer Effekte umzusetzen. Diese Funktionen sind in Internet Explorer 9 und älter und in einigen älteren Versionen von Firefox nicht vorhanden. Opera 12 bietet keine Unterstützung für Animationen.</p>
  </div>

  <div class="bs-callout bs-callout-info">
    <h4 id="callout-progress-csp">Kompatibilität mit Content Security Policies (CSPs)</h4>
    <p>Falls deine Webseite eine <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">Content Security Policy (CSP)</a> hat, die <code>style-src 'unsafe-inline'</code> nicht erlaubt, kannst du die Breite von Verlaufsleisten nicht über Inline-<code>style</code>-Attribute festlegen (wie in den Beispielen unten gezeigt). Um trotz strenger CSPs mit Verlaufsleisten arbeiten zu können, musst du mit etwas selbstgeschriebenem JavaScript (das <code>element.style.width</code> setzt) oder eigenen CSS-Klassen arbeiten.</p>
  </div>

  <h2 id="progress-basic">Einfaches Beispiel</h2>
  <p>Standard-Verlaufsleiste.</p>
  <div class="bs-example" data-example-id="simple-progress-bar">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% abgeschlossen</span>
      </div>
    </div>
  </div>
{% highlight html %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60% abgeschlossen</span>
  </div>
</div>
{% endhighlight %}

  <h2 id="progress-label">Mit Label</h2>
  <p>Entferne das Tag <code>&lt;span&gt;</code> mit der Klasse <code>.sr-only</code> innerhalb des Fortschrittbalkens, um eine Prozentzahl sichtbar zu machen. Bei niedrigen Prozenten ist es unter Umständen sinnvoll, eine <code>min-width</code> hinzuzufügen, damit der Label-Text vollständig sichtbar ist.</p>
  <div class="bs-example" data-example-id="progress-bar-with-label">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        60%
      </div>
    </div>
  </div>
{% highlight html %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>
{% endhighlight %}

  <p>Um sicherzustellen, dass der Labeltext auch bei niedrigen Prozentwerten lesbar bleibt, überlege dir, eine <code>min-width</code> zur Verlaufsleiste hinzuzufügen.</p>
  <div class="bs-example" data-example-id="progress-bar-at-low-percentage">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
        0%
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
        2%
      </div>
    </div>
  </div>
{% highlight html %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
    0%
  </div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
    2%
  </div>
</div>
{% endhighlight %}


  <h2 id="progress-alternatives">Kontext-Varianten</h2>
  <p>Verlaufsanzeigen nutzen ähnlich wie Buttons und Warnhinweise zusätzliche Klassen, um einige Kontext-Farben hinzuzufügen.</p>
  <div class="bs-example" data-example-id="contextual-progress-bar">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% abgeschlossen (Erfolg)</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
        <span class="sr-only">20% abgeschlossen</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
        <span class="sr-only">60% abgeschlossen (Warnung)</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
        <span class="sr-only">80% abgeschlossen (Gefahr)</span>
      </div>
    </div>
  </div>
{% highlight html %}
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% abgeschlossen (Erfolg)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    <span class="sr-only">20% abgeschlossen</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% abgeschlossen (Warnung)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <span class="sr-only">80% abgeschlossen (Gefahr)</span>
  </div>
</div>
{% endhighlight %}

  <h2 id="progress-striped">Gestreifte Variante</h2>
  <p>Mit einem Farbverlauf wird ein gestreifter Effekt hinzugefügt. Nicht verfügbar in IE9 und älter.</p>
  <div class="bs-example" data-example-id="striped-progress-bar">
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% abgeschlossen (Erfolg)</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
        <span class="sr-only">20% abgeschlossen</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
        <span class="sr-only">60% abgeschlossen (Warnung)</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
        <span class="sr-only">80% abgeschlossen (Gefahr)</span>
      </div>
    </div>
  </div>
{% highlight html %}
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% abgeschlossen (Erfolg)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
    <span class="sr-only">20% abgeschlossen</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% abgeschlossen (Warnung)</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    <span class="sr-only">80% abgeschlossen (Gefahr)</span>
  </div>
</div>
{% endhighlight %}

  <h2 id="progress-animated">Animierte Variante</h2>
  <p>Füge <code>.active</code> zu <code>.progress-bar-striped</code> hinzu, um die Streifen von rechts nach links zu animieren. Nicht verfügbar in IE9 und älteren Versionen.</p>
  <div class="bs-example" data-example-id="animated-progress-bar">
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><span class="sr-only">45% abgeschlossen</span></div>
    </div>
    <button type="button" class="btn btn-default bs-docs-activate-animated-progressbar" data-toggle="button" aria-pressed="false" autocomplete="off">Animation ein-/ausschalten</button>
  </div>
{% highlight html %}
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% abgeschlossen</span>
  </div>
</div>
{% endhighlight %}

  <h2 id="progress-stacked">Reihung</h2>
  <p>Platziere mehrere Leisten im selben <code>.progress</code>, um sie aneinanderzureihen.</p>
  <div class="bs-example" data-example-id="stacked-progress-bar">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 35%">
        <span class="sr-only">35% abgeschlossen (Erfolg)</span>
      </div>
      <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
        <span class="sr-only">20% abgeschlossen (Warnung)</span>
      </div>
      <div class="progress-bar progress-bar-danger" style="width: 10%">
        <span class="sr-only">10% abgeschlossen (Gefahr)</span>
      </div>
    </div>
  </div>
{% highlight html %}
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 35%">
    <span class="sr-only">35% abgeschlossen (Erfolg)</span>
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
    <span class="sr-only">20% abgeschlossen (Warnung)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 10%">
    <span class="sr-only">10% abgeschlossen (Gefahr)</span>
  </div>
</div>
{% endhighlight %}
</div>
