<div class="bs-docs-section">
  <h1 id="responsive-embed" class="page-header">Responsive Embeds</h1>

  <p>Ermögliche es Browsern, die Abmessungen von Videos oder Präsentationen abhängig von der Breite des übergeordneten Blocks zu ermitteln, indem du ein grundlegendes Verhältnis festlegst, das sich jedem Gerät anpasst.</p>
  <p>Die Regeln werden direkt auf die Elemente <code>&lt;iframe&gt;</code>, <code>&lt;embed&gt;</code>, <code>&lt;video&gt;</code> und <code>&lt;object&gt;</code> angewandt. Du kannst optional die Klasse <code>.embed-responsive-item</code> verwenden, wenn du die Stile bei anderen Attributen gleichsetzen willst.</p>
  <p><strong>Pro-Tip!</strong> Du musst für deine <code>&lt;iframe&gt;</code>s nicht mehr <code>frameborder="0"</code> festlegen, da wir dies bereits für dich überschreiben.</p>
  <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div>
  </div>
{% highlight html %}
<!-- 16:9-Seitenverhältnis -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div>

<!-- 4:3-Seitenverhältnis -->
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div>
{% endhighlight %}
</div>
